{
  "openapi": "3.1.0",
  "tags": [
    {
      "name": "Earthquake",
      "description": "地震情報"
    },
    {
      "name": "EEW",
      "description": "緊急地震速報"
    },
    {
      "name": "Telegram",
      "description": "気象庁電文"
    },
    {
      "name": "User",
      "description": "ユーザー"
    },
    {
      "name": "WebSocket",
      "description": "WebSocket"
    },
    {
      "name": "Device",
      "description": "デバイス"
    }
  ],
  "info": {
    "title": "EQMonitor Backend API",
    "description": "EQMonitorのAPI仕様書",
    "version": "2.0.0",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "contact": {
      "email": "admin@yumnumm.dev",
      "name": "YumNumm",
      "url": "https://github.com/YumNumm"
    }
  },
  "servers": [
    {
      "url": "https://v2.api.eqmonitor.app",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local Development"
    },
    {
      "url": "https://cf.v2.api.eqmonitor.app",
      "description": "Production Cloudflare"
    },
    {
      "url": "https://home.v2.api.eqmonitor.app",
      "description": "Production Home"
    }
  ],
  "paths": {
    "/v2/device/{deviceId}": {
      "put": {
        "operationId": "putV2DeviceByDeviceId",
        "tags": [
          "Device"
        ],
        "description": "デバイスを作成または更新",
        "responses": {
          "200": {
            "description": "デバイス情報（更新）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                },
                "components": {
                  "schemas": {
                    "DeviceResponse": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "enum": [
                            "IOS",
                            "ANDROID"
                          ]
                        },
                        "user_id": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "type",
                        "user_id",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "デバイス情報（作成）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                },
                "components": {
                  "schemas": {
                    "DeviceResponse": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "enum": [
                            "IOS",
                            "ANDROID"
                          ]
                        },
                        "user_id": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "type",
                        "user_id",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "getV2DeviceByDeviceId",
        "tags": [
          "Device"
        ],
        "description": "デバイス情報を取得",
        "responses": {
          "200": {
            "description": "デバイス情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                },
                "components": {
                  "schemas": {
                    "DeviceResponse": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "enum": [
                            "IOS",
                            "ANDROID"
                          ]
                        },
                        "user_id": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "type",
                        "user_id",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "不正なデバイスID形式"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/apns": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdApns",
        "tags": [
          "Device"
        ],
        "description": "APNsトークン一覧を取得",
        "responses": {
          "200": {
            "description": "APNsトークン一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApnsTokenResponse"
                  }
                },
                "components": {
                  "schemas": {
                    "ApnsTokenResponse": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "enum": [
                            "NOTIFICATION",
                            "LIVE_ACTIVITY_START"
                          ]
                        },
                        "token": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "token"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/apns/{type}": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdApnsByType",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApnsTypeParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定タイプのAPNsトークンを取得",
        "responses": {
          "200": {
            "description": "APNsトークン",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApnsTokenResponse"
                },
                "components": {
                  "schemas": {
                    "ApnsTokenResponse": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "enum": [
                            "NOTIFICATION",
                            "LIVE_ACTIVITY_START"
                          ]
                        },
                        "token": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "token"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "トークンが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdApnsByType",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApnsTypeParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApnsTokenRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "APNsトークンを更新（存在しない場合は作成）",
        "responses": {
          "200": {
            "description": "更新後のAPNsトークン",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApnsTokenResponse"
                },
                "components": {
                  "schemas": {
                    "ApnsTokenResponse": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "enum": [
                            "NOTIFICATION",
                            "LIVE_ACTIVITY_START"
                          ]
                        },
                        "token": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "token"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceIdApnsByType",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApnsTypeParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "APNsトークンを削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "トークンが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/{deviceId}/fcm": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdFcm",
        "tags": [
          "Device"
        ],
        "description": "FCMトークンを取得",
        "responses": {
          "200": {
            "description": "FCMトークン（存在しない場合はnull）",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/FcmTokenResponse"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "components": {
                  "schemas": {
                    "FcmTokenResponse": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "token"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdFcm",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FcmTokenRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "FCMトークンを更新（存在しない場合は作成）",
        "responses": {
          "200": {
            "description": "更新後のFCMトークン",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/FcmTokenResponse"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "components": {
                  "schemas": {
                    "FcmTokenResponse": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "token"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceIdFcm",
        "tags": [
          "Device"
        ],
        "description": "FCMトークンを削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "トークンが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/live-activity": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdLiveActivity",
        "tags": [
          "Device"
        ],
        "description": "Live Activity updateToken一覧を取得",
        "responses": {
          "200": {
            "description": "Live Activity一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LiveActivityTokenResponse"
                  }
                },
                "components": {
                  "schemas": {
                    "LiveActivityTokenResponse": {
                      "type": "object",
                      "properties": {
                        "live_activity_id": {
                          "type": "string"
                        },
                        "event_id": {
                          "type": "string"
                        },
                        "start_trigger": {
                          "enum": [
                            "shake_detection",
                            "eew"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "live_activity_id",
                        "event_id",
                        "start_trigger",
                        "created_at"
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/live-activity/{liveActivityId}/token": {
      "put": {
        "operationId": "putV2DeviceByDeviceIdLiveActivityByLiveActivityIdToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/LiveActivityIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveActivityTokenRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "Live Activity updateTokenを更新。notification-resolverで作成されたレコードのtokenを更新する。",
        "responses": {
          "200": {
            "description": "更新後のLive Activity情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveActivityTokenResponse"
                },
                "components": {
                  "schemas": {
                    "LiveActivityTokenResponse": {
                      "type": "object",
                      "properties": {
                        "live_activity_id": {
                          "type": "string"
                        },
                        "event_id": {
                          "type": "string"
                        },
                        "start_trigger": {
                          "enum": [
                            "shake_detection",
                            "eew"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "live_activity_id",
                        "event_id",
                        "start_trigger",
                        "created_at"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Live Activityが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceIdLiveActivityByLiveActivityIdToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/LiveActivityIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "Live Activity updateTokenを削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "トークンが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/{deviceId}/settings/notification": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsNotification",
        "tags": [
          "Device"
        ],
        "description": "全般通知設定を取得",
        "responses": {
          "200": {
            "description": "全般通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingsResponse"
                },
                "components": {
                  "schemas": {
                    "NotificationSettingsResponse": {
                      "type": "object",
                      "properties": {
                        "tsunami_enabled": {
                          "type": "boolean"
                        },
                        "training_enabled": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "tsunami_enabled",
                        "training_enabled"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdSettingsNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationSettingsRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "全般通知設定を更新",
        "responses": {
          "200": {
            "description": "更新後の全般通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingsResponse"
                },
                "components": {
                  "schemas": {
                    "NotificationSettingsResponse": {
                      "type": "object",
                      "properties": {
                        "tsunami_enabled": {
                          "type": "boolean"
                        },
                        "training_enabled": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "tsunami_enabled",
                        "training_enabled"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/earthquake": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEarthquake",
        "tags": [
          "Device"
        ],
        "description": "地震通知設定を取得",
        "responses": {
          "200": {
            "description": "地震通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeSettingsResponse"
                },
                "components": {
                  "schemas": {
                    "SoundSettingsResponse": {
                      "type": "object",
                      "properties": {
                        "mode": {
                          "enum": [
                            "max_intensity",
                            "location_intensity",
                            "registered_max"
                          ]
                        },
                        "map": {
                          "anyOf": [
                            {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "mode",
                        "map"
                      ]
                    },
                    "EarthquakeSettingsResponse": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        },
                        "sound": {
                          "$ref": "#/components/schemas/SoundSettingsResponse"
                        },
                        "hypocenter_update_enabled": {
                          "type": "boolean"
                        },
                        "estimated_intensity_enabled": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "enabled",
                        "sound",
                        "hypocenter_update_enabled",
                        "estimated_intensity_enabled"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdSettingsEarthquake",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EarthquakeSettingsRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "地震通知設定を更新",
        "responses": {
          "200": {
            "description": "更新後の地震通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeSettingsResponse"
                },
                "components": {
                  "schemas": {
                    "SoundSettingsResponse": {
                      "type": "object",
                      "properties": {
                        "mode": {
                          "enum": [
                            "max_intensity",
                            "location_intensity",
                            "registered_max"
                          ]
                        },
                        "map": {
                          "anyOf": [
                            {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "mode",
                        "map"
                      ]
                    },
                    "EarthquakeSettingsResponse": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        },
                        "sound": {
                          "$ref": "#/components/schemas/SoundSettingsResponse"
                        },
                        "hypocenter_update_enabled": {
                          "type": "boolean"
                        },
                        "estimated_intensity_enabled": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "enabled",
                        "sound",
                        "hypocenter_update_enabled",
                        "estimated_intensity_enabled"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/earthquake/regions": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEarthquakeRegions",
        "tags": [
          "Device"
        ],
        "description": "地震通知リージョン設定一覧を取得",
        "responses": {
          "200": {
            "description": "リージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionSettingResponse"
                  }
                },
                "components": {
                  "schemas": {
                    "RegionSettingResponse": {
                      "type": "object",
                      "properties": {
                        "region_id": {
                          "type": "number"
                        },
                        "region_name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "is_current_location": {
                          "type": "boolean"
                        },
                        "min_jma_intensity": {
                          "enum": [
                            "0",
                            "1",
                            "2",
                            "3",
                            "4",
                            "!5-",
                            "5-",
                            "5+",
                            "6-",
                            "6+",
                            "7"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "region_id",
                        "region_name",
                        "is_current_location",
                        "min_jma_intensity",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "put": {
        "operationId": "putV2DeviceByDeviceIdSettingsEarthquakeRegions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RegionSettingRequest"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "地震通知リージョン設定を一括更新（全件上書き）",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionSettingResponse"
                  }
                },
                "components": {
                  "schemas": {
                    "RegionSettingResponse": {
                      "type": "object",
                      "properties": {
                        "region_id": {
                          "type": "number"
                        },
                        "region_name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "is_current_location": {
                          "type": "boolean"
                        },
                        "min_jma_intensity": {
                          "enum": [
                            "0",
                            "1",
                            "2",
                            "3",
                            "4",
                            "!5-",
                            "5-",
                            "5+",
                            "6-",
                            "6+",
                            "7"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "region_id",
                        "region_name",
                        "is_current_location",
                        "min_jma_intensity",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/earthquake/regions/{regionId}": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEarthquakeRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を取得",
        "responses": {
          "200": {
            "description": "リージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSettingResponse"
                },
                "components": {
                  "schemas": {
                    "RegionSettingResponse": {
                      "type": "object",
                      "properties": {
                        "region_id": {
                          "type": "number"
                        },
                        "region_name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "is_current_location": {
                          "type": "boolean"
                        },
                        "min_jma_intensity": {
                          "enum": [
                            "0",
                            "1",
                            "2",
                            "3",
                            "4",
                            "!5-",
                            "5-",
                            "5+",
                            "6-",
                            "6+",
                            "7"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "region_id",
                        "region_name",
                        "is_current_location",
                        "min_jma_intensity",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdSettingsEarthquakeRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegionSettingPatchRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を更新",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSettingResponse"
                },
                "components": {
                  "schemas": {
                    "RegionSettingResponse": {
                      "type": "object",
                      "properties": {
                        "region_id": {
                          "type": "number"
                        },
                        "region_name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "is_current_location": {
                          "type": "boolean"
                        },
                        "min_jma_intensity": {
                          "enum": [
                            "0",
                            "1",
                            "2",
                            "3",
                            "4",
                            "!5-",
                            "5-",
                            "5+",
                            "6-",
                            "6+",
                            "7"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "region_id",
                        "region_name",
                        "is_current_location",
                        "min_jma_intensity",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceIdSettingsEarthquakeRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/{deviceId}/settings/eew": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEew",
        "tags": [
          "Device"
        ],
        "description": "EEW通知設定を取得",
        "responses": {
          "200": {
            "description": "EEW通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewSettingsResponse"
                },
                "components": {
                  "schemas": {
                    "SoundSettingsResponse": {
                      "type": "object",
                      "properties": {
                        "mode": {
                          "enum": [
                            "max_intensity",
                            "location_intensity",
                            "registered_max"
                          ]
                        },
                        "map": {
                          "anyOf": [
                            {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "mode",
                        "map"
                      ]
                    },
                    "EewSettingsResponse": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        },
                        "override_silent_mode": {
                          "type": "boolean"
                        },
                        "sound": {
                          "$ref": "#/components/schemas/SoundSettingsResponse"
                        },
                        "start_live_activity": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "enabled",
                        "override_silent_mode",
                        "sound",
                        "start_live_activity"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdSettingsEew",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EewSettingsRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "EEW通知設定を更新",
        "responses": {
          "200": {
            "description": "更新後のEEW通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewSettingsResponse"
                },
                "components": {
                  "schemas": {
                    "SoundSettingsResponse": {
                      "type": "object",
                      "properties": {
                        "mode": {
                          "enum": [
                            "max_intensity",
                            "location_intensity",
                            "registered_max"
                          ]
                        },
                        "map": {
                          "anyOf": [
                            {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "mode",
                        "map"
                      ]
                    },
                    "EewSettingsResponse": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        },
                        "override_silent_mode": {
                          "type": "boolean"
                        },
                        "sound": {
                          "$ref": "#/components/schemas/SoundSettingsResponse"
                        },
                        "start_live_activity": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "enabled",
                        "override_silent_mode",
                        "sound",
                        "start_live_activity"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/eew/regions": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEewRegions",
        "tags": [
          "Device"
        ],
        "description": "EEW通知リージョン設定一覧を取得",
        "responses": {
          "200": {
            "description": "リージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionSettingResponse"
                  }
                },
                "components": {
                  "schemas": {
                    "RegionSettingResponse": {
                      "type": "object",
                      "properties": {
                        "region_id": {
                          "type": "number"
                        },
                        "region_name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "is_current_location": {
                          "type": "boolean"
                        },
                        "min_jma_intensity": {
                          "enum": [
                            "0",
                            "1",
                            "2",
                            "3",
                            "4",
                            "!5-",
                            "5-",
                            "5+",
                            "6-",
                            "6+",
                            "7"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "region_id",
                        "region_name",
                        "is_current_location",
                        "min_jma_intensity",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "put": {
        "operationId": "putV2DeviceByDeviceIdSettingsEewRegions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RegionSettingRequest"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "EEW通知リージョン設定を一括更新（全件上書き）",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionSettingResponse"
                  }
                },
                "components": {
                  "schemas": {
                    "RegionSettingResponse": {
                      "type": "object",
                      "properties": {
                        "region_id": {
                          "type": "number"
                        },
                        "region_name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "is_current_location": {
                          "type": "boolean"
                        },
                        "min_jma_intensity": {
                          "enum": [
                            "0",
                            "1",
                            "2",
                            "3",
                            "4",
                            "!5-",
                            "5-",
                            "5+",
                            "6-",
                            "6+",
                            "7"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "region_id",
                        "region_name",
                        "is_current_location",
                        "min_jma_intensity",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/eew/regions/{regionId}": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEewRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を取得",
        "responses": {
          "200": {
            "description": "リージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSettingResponse"
                },
                "components": {
                  "schemas": {
                    "RegionSettingResponse": {
                      "type": "object",
                      "properties": {
                        "region_id": {
                          "type": "number"
                        },
                        "region_name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "is_current_location": {
                          "type": "boolean"
                        },
                        "min_jma_intensity": {
                          "enum": [
                            "0",
                            "1",
                            "2",
                            "3",
                            "4",
                            "!5-",
                            "5-",
                            "5+",
                            "6-",
                            "6+",
                            "7"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "region_id",
                        "region_name",
                        "is_current_location",
                        "min_jma_intensity",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdSettingsEewRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegionSettingPatchRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を更新",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSettingResponse"
                },
                "components": {
                  "schemas": {
                    "RegionSettingResponse": {
                      "type": "object",
                      "properties": {
                        "region_id": {
                          "type": "number"
                        },
                        "region_name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "is_current_location": {
                          "type": "boolean"
                        },
                        "min_jma_intensity": {
                          "enum": [
                            "0",
                            "1",
                            "2",
                            "3",
                            "4",
                            "!5-",
                            "5-",
                            "5+",
                            "6-",
                            "6+",
                            "7"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "region_id",
                        "region_name",
                        "is_current_location",
                        "min_jma_intensity",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceIdSettingsEewRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                },
                "components": {
                  "schemas": {
                    "InternalServerErrorResponse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "message": {
                          "const": "Internal Server Error"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake": {
      "get": {
        "operationId": "getV2Earthquake",
        "parameters": [
          {
            "$ref": "#/components/parameters/EarthquakeQueryParams"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "description": "地震情報一覧",
        "responses": {
          "200": {
            "description": "地震情報一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/{eventId}": {
      "get": {
        "operationId": "getV2EarthquakeByEventId",
        "parameters": [
          {
            "$ref": "#/components/parameters/EarthquakeEventIdParam"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "地震情報詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "地震情報が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/region/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityRegionByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityRegionCodeParam"
          },
          {
            "$ref": "#/components/parameters/EarthquakeQueryParams"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "震度細分区域から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityRegionSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/prefecture/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityPrefectureByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityPrefectureCodeParam"
          },
          {
            "$ref": "#/components/parameters/EarthquakeQueryParams"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "都道府県から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityPrefectureSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/city/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityCityByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityCityCodeParam"
          },
          {
            "$ref": "#/components/parameters/EarthquakeQueryParams"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "市区町村から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityCitySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/station/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityStationByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityStationCodeParam"
          },
          {
            "$ref": "#/components/parameters/EarthquakeQueryParams"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "観測点から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityStationSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/epicenter/{code}": {
      "get": {
        "operationId": "getV2EarthquakeEpicenterByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/EpicenterCodeParam"
          },
          {
            "$ref": "#/components/parameters/EarthquakeQueryParams"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "震源地から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpicenterSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/eew": {
      "get": {
        "operationId": "getV2Eew",
[...]
