{
  "openapi": "3.1.0",
  "tags": [
    {
      "name": "Earthquake",
      "description": "地震情報"
    },
    {
      "name": "EEW",
      "description": "緊急地震速報"
    },
    {
      "name": "Telegram",
      "description": "気象庁電文"
    },
    {
      "name": "User",
      "description": "ユーザー"
    },
    {
      "name": "Realtime",
      "description": "リアルタイム（SSE）"
    },
    {
      "name": "Device",
      "description": "デバイス"
    }
  ],
  "info": {
    "title": "EQMonitor Backend API",
    "description": "EQMonitorのAPI仕様書",
    "version": "2.0.0",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "contact": {
      "email": "admin@yumnumm.dev",
      "name": "YumNumm",
      "url": "https://github.com/YumNumm"
    }
  },
  "servers": [
    {
      "url": "https://v2.api.eqmonitor.app",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local Development"
    },
    {
      "url": "https://home.v2.api.eqmonitor.app",
      "description": "Production Home"
    }
  ],
  "paths": {
    "/v2/admin/dispatches": {
      "get": {
        "operationId": "getV2AdminDispatches",
        "tags": [
          "Admin"
        ],
        "description": "配信サマリー一覧",
        "responses": {
          "200": {
            "description": "配信サマリー一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminDispatchSummaryListResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/admin/dispatches/{correlationKey}": {
      "get": {
        "operationId": "getV2AdminDispatchesByCorrelationKey",
        "tags": [
          "Admin"
        ],
        "description": "配信サマリー詳細",
        "responses": {
          "200": {
            "description": "配信サマリー詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminDispatchSummaryDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "未検出",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "correlationKey",
            "required": true
          }
        ]
      }
    },
    "/v2/admin/test-live-event": {
      "post": {
        "operationId": "postV2AdminTestLiveEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eventType": {
                    "enum": [
                      "eew",
                      "shake_detection"
                    ],
                    "type": "string"
                  },
                  "target": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "const": "device_id"
                          },
                          "deviceId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "deviceId"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "const": "push_to_start_token"
                          },
                          "token": {
                            "type": "string"
                          },
                          "environment": {
                            "enum": [
                              "development",
                              "production"
                            ],
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "token",
                          "environment"
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "eventType",
                  "target"
                ]
              }
            }
          }
        },
        "tags": [
          "Admin"
        ],
        "description": "任意のデバイスにテスト用Live Activityイベントを送信",
        "responses": {
          "200": {
            "description": "送信成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "const": true
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/admin/replay-files": {
      "get": {
        "operationId": "getV2AdminReplayFiles",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          }
        ],
        "tags": [
          "Admin"
        ],
        "description": "リプレイファイル一覧",
        "responses": {
          "200": {
            "description": "リプレイファイル一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminReplayFileListResponse"
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplayForbiddenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/admin/replay-files/{id}": {
      "get": {
        "operationId": "getV2AdminReplayFilesById",
        "tags": [
          "Admin"
        ],
        "description": "リプレイファイル詳細（トリガー情報含む）",
        "responses": {
          "200": {
            "description": "リプレイファイル詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminReplayFileDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplayForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "未検出",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ]
      }
    },
    "/v2/admin/replay-files/{id}/download-url": {
      "get": {
        "operationId": "getV2AdminReplayFilesByIdDownloadUrl",
        "tags": [
          "Admin"
        ],
        "description": "署名付きダウンロード URL 発行",
        "responses": {
          "200": {
            "description": "署名付き URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminReplayFileDownloadUrlResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplayForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "未検出",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "署名付き URL 生成失敗",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "オブジェクトストレージ（S3）未設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplayDownloadServiceUnavailable"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}": {
      "put": {
        "operationId": "putV2DeviceByDeviceId",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceUpsertRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "デバイスを作成または更新（Better Auth または Firebase App Check 必須）",
        "responses": {
          "200": {
            "description": "デバイス情報（更新）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                }
              }
            }
          },
          "201": {
            "description": "デバイス情報（作成）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト"
          },
          "401": {
            "description": "認証エラー"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "getV2DeviceByDeviceId",
        "parameters": [
          {
            "in": "path",
            "name": "deviceId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "デバイス情報を取得",
        "responses": {
          "200": {
            "description": "デバイス情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceId",
        "tags": [
          "Device"
        ],
        "description": "デバイスを削除（関連データも全て削除）",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "401": {
            "description": "認証エラー"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/apns": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdApns",
        "tags": [
          "Device"
        ],
        "description": "APNsトークン一覧を取得",
        "responses": {
          "200": {
            "description": "APNsトークン一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApnsTokenResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/apns/{type}": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdApnsByType",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApnsTypeParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定タイプのAPNsトークンを取得",
        "responses": {
          "200": {
            "description": "APNsトークン",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApnsTokenResponse"
                }
              }
            }
          },
          "404": {
            "description": "トークンが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdApnsByType",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApnsTypeParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApnsTokenRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "APNsトークンを更新（存在しない場合は作成）",
        "responses": {
          "200": {
            "description": "更新後のAPNsトークン",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApnsTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceIdApnsByType",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApnsTypeParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "APNsトークンを削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "トークンが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/{deviceId}/fcm": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdFcm",
        "tags": [
          "Device"
        ],
        "description": "FCMトークンを取得",
        "responses": {
          "200": {
            "description": "FCMトークン（存在しない場合はnull）",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/FcmTokenResponse"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdFcm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FcmTokenRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "FCMトークンを更新（存在しない場合は作成）",
        "responses": {
          "200": {
            "description": "更新後のFCMトークン",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/FcmTokenResponse"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceIdFcm",
        "tags": [
          "Device"
        ],
        "description": "FCMトークンを削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "トークンが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/live-activity": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdLiveActivity",
        "tags": [
          "Device"
        ],
        "description": "Live Activity updateToken一覧を取得",
        "responses": {
          "200": {
            "description": "Live Activity一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LiveActivityTokenResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/live-activity/{liveActivityId}/token": {
      "put": {
        "operationId": "putV2DeviceByDeviceIdLiveActivityByLiveActivityIdToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/LiveActivityIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveActivityTokenRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "Live Activity updateTokenを更新。notification-resolverで作成されたレコードのtokenを更新する。",
        "responses": {
          "200": {
            "description": "更新後のLive Activity情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveActivityTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Live Activityが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceIdLiveActivityByLiveActivityIdToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/LiveActivityIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "Live Activity updateTokenを削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "トークンが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/{deviceId}/settings/notification": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsNotification",
        "tags": [
          "Device"
        ],
        "description": "全般通知設定を取得",
        "responses": {
          "200": {
            "description": "全般通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingsResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdSettingsNotification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationSettingsRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "全般通知設定を更新",
        "responses": {
          "200": {
            "description": "更新後の全般通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/earthquake": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEarthquake",
        "tags": [
          "Device"
        ],
        "description": "地震通知設定を取得",
        "responses": {
          "200": {
            "description": "地震通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeSettingsResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdSettingsEarthquake",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EarthquakeSettingsRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "地震通知設定を更新",
        "responses": {
          "200": {
            "description": "更新後の地震通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/earthquake/regions": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEarthquakeRegions",
        "tags": [
          "Device"
        ],
        "description": "地震通知リージョン設定一覧を取得",
        "responses": {
          "200": {
            "description": "リージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionSettingResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "put": {
        "operationId": "putV2DeviceByDeviceIdSettingsEarthquakeRegions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RegionSettingRequest"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "地震通知リージョン設定を一括更新（全件上書き）",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionSettingResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/earthquake/regions/{regionId}": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEarthquakeRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を取得",
        "responses": {
          "200": {
            "description": "リージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSettingResponse"
                }
              }
            }
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdSettingsEarthquakeRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegionSettingPatchRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を更新",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceIdSettingsEarthquakeRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/{deviceId}/settings/eew": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEew",
        "tags": [
          "Device"
        ],
        "description": "EEW通知設定を取得",
        "responses": {
          "200": {
            "description": "EEW通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewSettingsResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdSettingsEew",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EewSettingsRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "EEW通知設定を更新",
        "responses": {
          "200": {
            "description": "更新後のEEW通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/eew/regions": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEewRegions",
        "tags": [
          "Device"
        ],
        "description": "EEW通知リージョン設定一覧を取得",
        "responses": {
          "200": {
            "description": "リージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionSettingResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "put": {
        "operationId": "putV2DeviceByDeviceIdSettingsEewRegions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RegionSettingRequest"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "EEW通知リージョン設定を一括更新（全件上書き）",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionSettingResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/eew/regions/{regionId}": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEewRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を取得",
        "responses": {
          "200": {
            "description": "リージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSettingResponse"
                }
              }
            }
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdSettingsEewRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegionSettingPatchRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を更新",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceIdSettingsEewRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/{deviceId}/settings/shake-detection": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsShakeDetection",
        "tags": [
          "Device"
        ],
        "description": "揺れ検知通知設定一覧を取得",
        "responses": {
          "200": {
            "description": "揺れ検知通知設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShakeDetectionSettingResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "put": {
        "operationId": "putV2DeviceByDeviceIdSettingsShakeDetection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ShakeDetectionSettingRequest"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "揺れ検知通知設定を一括更新（全件上書き）",
        "responses": {
          "200": {
            "description": "更新後の揺れ検知通知設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShakeDetectionSettingResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/shake-detection/sub-regions": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsShakeDetectionSubRegions",
        "tags": [
          "Device"
        ],
        "description": "揺れ検知サブ地域マスター一覧を取得",
        "responses": {
          "200": {
            "description": "サブ地域一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShakeDetectionSubRegionResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/migrate": {
      "post": {
        "operationId": "postV2DeviceByDeviceIdMigrate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MigrateRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "旧 Supabase のデバイス設定を新 DB に移行",
        "responses": {
          "200": {
            "description": "移行結果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MigrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "404": {
            "description": "旧デバイスが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "409": {
            "description": "既にマイグレーション済み",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/notification/history": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdNotificationHistory",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": "100"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Notification"
        ],
        "description": "デバイスの通知履歴を取得",
        "responses": {
          "200": {
            "description": "通知履歴",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationHistoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "サービス利用不可",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/{deviceId}/notification/dispatches": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdNotificationDispatches",
        "tags": [
          "Notification"
        ],
        "description": "配信サマリー一覧（admin）",
        "responses": {
          "200": {
            "description": "配信サマリー一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispatchSummaryListResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/notification/dispatches/{correlationKey}": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdNotificationDispatchesByCorrelationKey",
        "tags": [
          "Notification"
        ],
        "description": "配信サマリー詳細（admin）",
        "responses": {
          "200": {
            "description": "配信サマリー詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispatchSummaryDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "未検出",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "correlationKey",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/notification/test": {
      "post": {
        "operationId": "postV2DeviceByDeviceIdNotificationTest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestNotificationRequest"
              }
            }
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "テスト通知を送信",
        "responses": {
          "201": {
            "description": "テスト通知を送信",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestNotificationResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスまたはトークンが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "サービス利用不可",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/earthquake": {
      "get": {
        "operationId": "getV2Earthquake",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeSortBy",
              "default": "event_id"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "desc"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "description": "地震情報一覧",
        "responses": {
          "200": {
            "description": "地震情報一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/{eventId}": {
      "get": {
        "operationId": "getV2EarthquakeByEventId",
        "parameters": [
          {
            "$ref": "#/components/parameters/EarthquakeEventIdParam"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "地震情報詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "地震情報が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/{eventId}/intensity-map": {
      "get": {
        "operationId": "getV2EarthquakeByEventIdIntensityMap",
        "parameters": [
          {
            "$ref": "#/components/parameters/EarthquakeIntensityMapEventIdParam"
          },
          {
            "in": "query",
            "name": "locale",
            "schema": {
              "enum": [
                "ja",
                "en",
                "zh"
              ],
              "type": "string",
              "default": "ja"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "description": "地震イベントの震度分布図（最新）",
        "responses": {
          "200": {
            "description": "震度分布図URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "object_key": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "url",
                    "object_key"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "地震情報が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/region/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityRegionByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityRegionCodeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeSortBy",
              "default": "event_id"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "desc"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "震度細分区域から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityRegionSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/prefecture/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityPrefectureByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityPrefectureCodeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeSortBy",
              "default": "event_id"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "desc"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "都道府県から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityPrefectureSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/city/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityCityByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityCityCodeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeSortBy",
              "default": "event_id"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "desc"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "市区町村から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityCitySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/station/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityStationByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityStationCodeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeSortBy",
              "default": "event_id"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "desc"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "観測点から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityStationSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/epicenter/{code}": {
      "get": {
        "operationId": "getV2EarthquakeEpicenterByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/EpicenterCodeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeSortBy",
              "default": "event_id"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "desc"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "震源地から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpicenterSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/eew": {
      "get": {
        "operationId": "getV2Eew",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "isWarning",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "EEW"
        ],
        "description": "最終報の緊急地震速報一覧を取得",
        "responses": {
          "200": {
            "description": "最終報の緊急地震速報一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/eew/latest": {
      "get": {
        "operationId": "getV2EewLatest",
        "tags": [
          "EEW"
        ],
        "responses": {
          "200": {
            "description": "発表から5分以内の最新緊急地震速報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewLatestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/eew/{eventId}": {
      "get": {
        "operationId": "getV2EewByEventId",
        "parameters": [
          {
            "$ref": "#/components/parameters/EewEventIdParam"
          }
        ],
        "tags": [
          "EEW"
        ],
        "responses": {
          "200": {
            "description": "緊急地震速報配列",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewArrayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "緊急地震速報が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/eew/{eventId}/{serialNo}": {
      "get": {
        "operationId": "getV2EewByEventIdBySerialNo",
        "parameters": [
          {
            "$ref": "#/components/parameters/EewEventIdSerialNoParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "serialNo",
            "required": true
          }
        ],
        "tags": [
          "EEW"
        ],
        "responses": {
          "200": {
            "description": "緊急地震速報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewItemWithRelations"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "緊急地震速報が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/feeds": {
      "get": {
        "operationId": "getV2Feeds",
        "parameters": [
          {
[...]
