{
  "openapi": "3.1.0",
  "tags": [
    {
      "name": "Earthquake",
      "description": "地震情報"
    },
    {
      "name": "EEW",
      "description": "緊急地震速報"
    },
    {
      "name": "Telegram",
      "description": "気象庁電文"
    },
    {
      "name": "User",
      "description": "ユーザー"
    },
    {
      "name": "WebSocket",
      "description": "WebSocket"
    },
    {
      "name": "Device",
      "description": "デバイス"
    }
  ],
  "info": {
    "title": "EQMonitor Backend API",
    "description": "EQMonitorのAPI仕様書",
    "version": "2.0.0",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "contact": {
      "email": "admin@yumnumm.dev",
      "name": "YumNumm",
      "url": "https://github.com/YumNumm"
    }
  },
  "servers": [
    {
      "url": "https://v2.api.eqmonitor.app",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local Development"
    },
    {
      "url": "https://home.v2.api.eqmonitor.app",
      "description": "Production Home"
    }
  ],
  "paths": {
    "/v2/device/{deviceId}": {
      "put": {
        "operationId": "putV2DeviceByDeviceId",
        "tags": [
          "Device"
        ],
        "description": "デバイスを作成または更新（認証必須）",
        "responses": {
          "200": {
            "description": "デバイス情報（更新）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                }
              }
            }
          },
          "201": {
            "description": "デバイス情報（作成）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト"
          },
          "401": {
            "description": "認証エラー"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "getV2DeviceByDeviceId",
        "tags": [
          "Device"
        ],
        "description": "デバイス情報を取得",
        "responses": {
          "200": {
            "description": "デバイス情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                }
              }
            }
          },
          "400": {
            "description": "不正なデバイスID形式"
          },
          "401": {
            "description": "認証エラー"
          },
          "403": {
            "description": "他のユーザーのデバイス"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceId",
        "tags": [
          "Device"
        ],
        "description": "デバイスを削除（関連データも全て削除）",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "401": {
            "description": "認証エラー"
          },
          "403": {
            "description": "他のユーザーのデバイス"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/apns": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdApns",
        "tags": [
          "Device"
        ],
        "description": "APNsトークン一覧を取得",
        "responses": {
          "200": {
            "description": "APNsトークン一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApnsTokenResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/apns/{type}": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdApnsByType",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApnsTypeParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定タイプのAPNsトークンを取得",
        "responses": {
          "200": {
            "description": "APNsトークン",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApnsTokenResponse"
                }
              }
            }
          },
          "404": {
            "description": "トークンが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdApnsByType",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApnsTypeParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApnsTokenRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "APNsトークンを更新（存在しない場合は作成）",
        "responses": {
          "200": {
            "description": "更新後のAPNsトークン",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApnsTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceIdApnsByType",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApnsTypeParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "APNsトークンを削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "トークンが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/{deviceId}/fcm": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdFcm",
        "tags": [
          "Device"
        ],
        "description": "FCMトークンを取得",
        "responses": {
          "200": {
            "description": "FCMトークン（存在しない場合はnull）",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/FcmTokenResponse"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdFcm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FcmTokenRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "FCMトークンを更新（存在しない場合は作成）",
        "responses": {
          "200": {
            "description": "更新後のFCMトークン",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/FcmTokenResponse"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceIdFcm",
        "tags": [
          "Device"
        ],
        "description": "FCMトークンを削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "トークンが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/live-activity": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdLiveActivity",
        "tags": [
          "Device"
        ],
        "description": "Live Activity updateToken一覧を取得",
        "responses": {
          "200": {
            "description": "Live Activity一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LiveActivityTokenResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/live-activity/{liveActivityId}/token": {
      "put": {
        "operationId": "putV2DeviceByDeviceIdLiveActivityByLiveActivityIdToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/LiveActivityIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveActivityTokenRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "Live Activity updateTokenを更新。notification-resolverで作成されたレコードのtokenを更新する。",
        "responses": {
          "200": {
            "description": "更新後のLive Activity情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveActivityTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Live Activityが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceIdLiveActivityByLiveActivityIdToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/LiveActivityIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "Live Activity updateTokenを削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "トークンが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/{deviceId}/settings/notification": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsNotification",
        "tags": [
          "Device"
        ],
        "description": "全般通知設定を取得",
        "responses": {
          "200": {
            "description": "全般通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingsResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdSettingsNotification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationSettingsRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "全般通知設定を更新",
        "responses": {
          "200": {
            "description": "更新後の全般通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/earthquake": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEarthquake",
        "tags": [
          "Device"
        ],
        "description": "地震通知設定を取得",
        "responses": {
          "200": {
            "description": "地震通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeSettingsResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdSettingsEarthquake",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EarthquakeSettingsRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "地震通知設定を更新",
        "responses": {
          "200": {
            "description": "更新後の地震通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/earthquake/regions": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEarthquakeRegions",
        "tags": [
          "Device"
        ],
        "description": "地震通知リージョン設定一覧を取得",
        "responses": {
          "200": {
            "description": "リージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionSettingResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "put": {
        "operationId": "putV2DeviceByDeviceIdSettingsEarthquakeRegions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RegionSettingRequest"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "地震通知リージョン設定を一括更新（全件上書き）",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionSettingResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/earthquake/regions/{regionId}": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEarthquakeRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を取得",
        "responses": {
          "200": {
            "description": "リージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSettingResponse"
                }
              }
            }
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdSettingsEarthquakeRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegionSettingPatchRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を更新",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceIdSettingsEarthquakeRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/{deviceId}/settings/eew": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEew",
        "tags": [
          "Device"
        ],
        "description": "EEW通知設定を取得",
        "responses": {
          "200": {
            "description": "EEW通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewSettingsResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdSettingsEew",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EewSettingsRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "EEW通知設定を更新",
        "responses": {
          "200": {
            "description": "更新後のEEW通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/eew/regions": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEewRegions",
        "tags": [
          "Device"
        ],
        "description": "EEW通知リージョン設定一覧を取得",
        "responses": {
          "200": {
            "description": "リージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionSettingResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "put": {
        "operationId": "putV2DeviceByDeviceIdSettingsEewRegions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RegionSettingRequest"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "EEW通知リージョン設定を一括更新（全件上書き）",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionSettingResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/eew/regions/{regionId}": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsEewRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を取得",
        "responses": {
          "200": {
            "description": "リージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSettingResponse"
                }
              }
            }
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceByDeviceIdSettingsEewRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegionSettingPatchRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を更新",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceByDeviceIdSettingsEewRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/{deviceId}/settings/shake-detection": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsShakeDetection",
        "tags": [
          "Device"
        ],
        "description": "揺れ検知通知設定一覧を取得",
        "responses": {
          "200": {
            "description": "揺れ検知通知設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShakeDetectionSettingResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      },
      "put": {
        "operationId": "putV2DeviceByDeviceIdSettingsShakeDetection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ShakeDetectionSettingRequest"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "揺れ検知通知設定を一括更新（全件上書き）",
        "responses": {
          "200": {
            "description": "更新後の揺れ検知通知設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShakeDetectionSettingResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/settings/shake-detection/sub-regions": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdSettingsShakeDetectionSubRegions",
        "tags": [
          "Device"
        ],
        "description": "揺れ検知サブ地域マスター一覧を取得",
        "responses": {
          "200": {
            "description": "サブ地域一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShakeDetectionSubRegionResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/device/{deviceId}/notification/history": {
      "get": {
        "operationId": "getV2DeviceByDeviceIdNotificationHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotificationHistoryQueryParams"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ],
        "tags": [
          "Notification"
        ],
        "description": "デバイスの通知履歴を取得",
        "responses": {
          "200": {
            "description": "通知履歴",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationHistoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "サービス利用不可",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/{deviceId}/notification/test": {
      "post": {
        "operationId": "postV2DeviceByDeviceIdNotificationTest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestNotificationRequest"
              }
            }
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "テスト通知を送信",
        "responses": {
          "201": {
            "description": "テスト通知を送信",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestNotificationResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスまたはトークンが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "サービス利用不可",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "deviceId",
            "required": true
          }
        ]
      }
    },
    "/v2/earthquake": {
      "get": {
        "operationId": "getV2Earthquake",
        "parameters": [
          {
            "$ref": "#/components/parameters/EarthquakeQueryParams"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "description": "地震情報一覧",
        "responses": {
          "200": {
            "description": "地震情報一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/{eventId}": {
      "get": {
        "operationId": "getV2EarthquakeByEventId",
        "parameters": [
          {
            "$ref": "#/components/parameters/EarthquakeEventIdParam"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "地震情報詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "地震情報が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/region/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityRegionByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityRegionCodeParam"
          },
          {
            "$ref": "#/components/parameters/EarthquakeQueryParams"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "震度細分区域から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityRegionSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/prefecture/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityPrefectureByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityPrefectureCodeParam"
          },
          {
            "$ref": "#/components/parameters/EarthquakeQueryParams"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "都道府県から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityPrefectureSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/city/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityCityByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityCityCodeParam"
          },
          {
            "$ref": "#/components/parameters/EarthquakeQueryParams"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "市区町村から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityCitySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/station/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityStationByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityStationCodeParam"
          },
          {
            "$ref": "#/components/parameters/EarthquakeQueryParams"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "観測点から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityStationSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/epicenter/{code}": {
      "get": {
        "operationId": "getV2EarthquakeEpicenterByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/EpicenterCodeParam"
          },
          {
            "$ref": "#/components/parameters/EarthquakeQueryParams"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "震源地から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpicenterSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/eew": {
      "get": {
        "operationId": "getV2Eew",
        "parameters": [
          {
            "$ref": "#/components/parameters/EewQueryParams"
          }
        ],
        "tags": [
          "EEW"
        ],
        "description": "最終報の緊急地震速報一覧を取得",
        "responses": {
          "200": {
            "description": "最終報の緊急地震速報一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/eew/latest": {
      "get": {
        "operationId": "getV2EewLatest",
        "tags": [
          "EEW"
        ],
        "responses": {
          "200": {
            "description": "発表から5分以内の最新緊急地震速報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewLatestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/eew/{eventId}": {
      "get": {
        "operationId": "getV2EewByEventId",
        "parameters": [
          {
            "$ref": "#/components/parameters/EewEventIdParam"
          }
        ],
        "tags": [
          "EEW"
        ],
        "responses": {
          "200": {
            "description": "緊急地震速報配列",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewArrayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "緊急地震速報が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/eew/{eventId}/{serialNo}": {
      "get": {
        "operationId": "getV2EewByEventIdBySerialNo",
        "parameters": [
          {
            "$ref": "#/components/parameters/EewEventIdSerialNoParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "serialNo",
            "required": true
          }
        ],
        "tags": [
          "EEW"
        ],
        "responses": {
          "200": {
            "description": "緊急地震速報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewItemWithRelations"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "緊急地震速報が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/telegram": {
      "get": {
        "operationId": "getV2Telegram",
        "parameters": [
          {
            "$ref": "#/components/parameters/TelegramQueryParams"
          }
        ],
        "tags": [
          "Telegram"
        ],
        "responses": {
          "200": {
            "description": "電文一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/telegram/type/{type}": {
      "get": {
        "operationId": "getV2TelegramTypeByType",
        "parameters": [
          {
            "$ref": "#/components/parameters/TelegramTypeParam"
          },
          {
            "$ref": "#/components/parameters/TelegramQueryParams"
          }
        ],
        "tags": [
          "Telegram"
        ],
        "responses": {
          "200": {
            "description": "type別電文一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/telegram/eventId/{eventId}": {
      "get": {
        "operationId": "getV2TelegramEventIdByEventId",
        "parameters": [
          {
            "$ref": "#/components/parameters/TelegramEventIdParam"
          },
          {
            "$ref": "#/components/parameters/TelegramQueryParams"
          }
        ],
        "tags": [
          "Telegram"
        ],
        "responses": {
          "200": {
            "description": "eventId別電文一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/telegram/{id}": {
      "get": {
        "operationId": "getV2TelegramById",
        "parameters": [
          {
            "$ref": "#/components/parameters/TelegramIdParam"
          }
        ],
        "tags": [
          "Telegram"
        ],
        "responses": {
          "200": {
            "description": "電文詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "電文が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/tsunami": {
      "get": {
        "operationId": "getV2Tsunami",
        "parameters": [
          {
            "$ref": "#/components/parameters/TsunamiQueryParams"
          }
        ],
        "tags": [
          "Tsunami"
        ],
        "description": "津波情報一覧",
        "responses": {
          "200": {
            "description": "津波情報一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TsunamiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/tsunami/by-event-id/{eventId}": {
      "get": {
        "operationId": "getV2TsunamiByEventIdByEventId",
        "parameters": [
          {
            "$ref": "#/components/parameters/TsunamiEventIdParam"
          }
        ],
        "tags": [
          "Tsunami"
        ],
        "description": "DMDATA eventIdから津波情報を取得",
        "responses": {
          "200": {
            "description": "津波情報詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TsunamiDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "津波情報が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/tsunami/active": {
      "get": {
        "operationId": "getV2TsunamiActive",
        "tags": [
          "Tsunami"
        ],
        "description": "現在有効な津波情報一覧（VTSE41 の revoke_at が未経過）",
        "responses": {
          "200": {
            "description": "有効な津波情報一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TsunamiListResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/tsunami/{tsunamiId}": {
      "get": {
        "operationId": "getV2TsunamiByTsunamiId",
        "parameters": [
          {
            "$ref": "#/components/parameters/TsunamiIdParam"
          }
        ],
        "tags": [
          "Tsunami"
        ],
        "description": "津波情報詳細",
        "responses": {
          "200": {
            "description": "津波情報詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TsunamiDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "津波情報が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/user/me": {
      "get": {
        "operationId": "getV2UserMe",
        "tags": [
          "User"
        ],
        "description": "自分のユーザー情報を取得",
        "responses": {
          "200": {
            "description": "ユーザー情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2UserMe",
        "tags": [
          "User"
        ],
        "description": "プロフィールを更新（name, image）",
        "responses": {
          "200": {
            "description": "更新後のユーザー情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト"
          },
          "401": {
            "description": "認証エラー"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2UserMe",
        "tags": [
          "User"
        ],
        "description": "アカウントを削除",
        "responses": {
          "200": {
            "description": "削除成功"
          },
          "401": {
            "description": "認証エラー"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/user/me/devices": {
      "get": {
        "operationId": "getV2UserMeDevices",
        "tags": [
          "User"
        ],
        "description": "自分のデバイス一覧を取得",
        "responses": {
          "200": {
            "description": "デバイス一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserDeviceResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "認証エラー"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/user/me/sessions": {
      "get": {
        "operationId": "getV2UserMeSessions",
        "tags": [
          "User"
        ],
        "description": "アクティブセッション一覧を取得",
        "responses": {
          "200": {
            "description": "セッション一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SessionResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "認証エラー"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/user/me/sessions/{token}": {
      "delete": {
        "operationId": "deleteV2UserMeSessionsByToken",
        "tags": [
          "User"
        ],
        "description": "セッションを無効化",
        "responses": {
          "200": {
            "description": "セッション無効化成功"
          },
          "401": {
            "description": "認証エラー"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "token",
            "required": true
          }
        ]
      }
    },
    "/v2/websocket/ticket": {
      "get": {
        "operationId": "getV2WebsocketTicket",
        "tags": [
          "WebSocket"
        ],
        "description": "WebSocket接続用のチケットを発行（認証必須）",
        "responses": {
          "200": {
            "description": "発行されたチケット",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsocketTicketResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー"
          },
          "403": {
            "description": "他のユーザーのデバイス"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DeviceResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "enum": [
              "IOS",
              "ANDROID"
            ],
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "locale": {
            "enum": [
              "ja",
              "en",
              "zh"
            ],
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "user_id",
          "locale",
          "created_at",
          "updated_at"
        ]
      },
      "InternalServerErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "const": "INTERNAL_SERVER_ERROR"
          },
          "message": {
            "const": "Internal Server Error"
          },
          "reason": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "ApnsTokenType": {
        "enum": [
          "NOTIFICATION",
          "LIVE_ACTIVITY_START"
        ],
        "type": "string",
        "description": "APNsトークンタイプ"
      },
      "ApnsTokenResponse": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ApnsTokenType"
          },
          "token": {
            "type": "string"
          },
          "environment": {
            "enum": [
              "development",
              "production"
            ],
            "type": "string"
          }
        },
        "required": [
          "type",
          "token",
          "environment"
        ]
      },
      "ApnsEnvironment": {
        "enum": [
          "development",
          "production"
        ],
        "type": "string",
        "description": "APNs環境"
      },
      "ApnsTokenRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "environment": {
            "$ref": "#/components/schemas/ApnsEnvironment"
          }
        },
        "required": [
          "token"
        ]
      },
      "FcmTokenResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        },
        "required": [
          "token"
        ]
      },
      "FcmTokenRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        },
        "required": [
          "token"
        ]
      },
      "LiveActivityStartTrigger": {
        "enum": [
          "shake_detection",
          "eew"
        ],
        "type": "string",
        "description": "Live Activity開始トリガー"
      },
      "LiveActivityTokenResponse": {
        "type": "object",
        "properties": {
          "live_activity_id": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "start_trigger": {
            "$ref": "#/components/schemas/LiveActivityStartTrigger"
          },
          "created_at": {
            "type": "string"
          }
        },
        "required": [
          "live_activity_id",
          "event_id",
          "start_trigger",
          "created_at"
        ]
      },
      "LiveActivityTokenRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        },
        "required": [
          "token"
        ]
      },
      "NotificationSettingsResponse": {
        "type": "object",
        "properties": {
          "tsunami_enabled": {
            "type": "boolean"
          },
          "training_enabled": {
            "type": "boolean"
          }
        },
        "required": [
          "tsunami_enabled",
          "training_enabled"
        ]
      },
      "NotificationSettingsRequest": {
        "type": "object",
        "properties": {
          "tsunami_enabled": {
            "type": "boolean",
            "nullable": true
          },
          "training_enabled": {
            "type": "boolean",
            "nullable": true
          }
        },
        "required": []
      },
      "EarthquakeSettingsResponse": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "notification_tiers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "min_jma_intensity": {
                  "enum": [
                    "0",
                    "1",
                    "2",
                    "3",
                    "4",
                    "!5-",
                    "5-",
                    "5+",
                    "6-",
                    "6+",
                    "7"
                  ],
                  "type": "string"
                },
                "sound": {
                  "type": "string"
                },
                "interruption_level": {
                  "enum": [
                    "passive",
                    "active",
                    "time_sensitive",
                    "critical"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "min_jma_intensity",
                "sound",
                "interruption_level"
              ]
            },
            "minItems": 1
          },
          "estimated_intensity_enabled": {
            "type": "boolean"
          }
        },
        "required": [
          "enabled",
          "notification_tiers",
          "estimated_intensity_enabled"
        ]
      },
      "EarthquakeSettingsRequest": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "nullable": true
          },
          "notification_tiers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "min_jma_intensity": {
                  "enum": [
                    "0",
                    "1",
                    "2",
                    "3",
                    "4",
                    "!5-",
                    "5-",
                    "5+",
                    "6-",
                    "6+",
                    "7"
                  ],
                  "type": "string"
                },
                "sound": {
                  "type": "string"
                },
                "interruption_level": {
                  "enum": [
                    "passive",
                    "active",
                    "time_sensitive",
                    "critical"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "min_jma_intensity",
                "sound",
                "interruption_level"
              ]
            },
            "minItems": 1,
            "nullable": true
          },
          "estimated_intensity_enabled": {
            "type": "boolean",
            "nullable": true
          }
        },
        "required": []
      },
      "JmaIntensity": {
        "enum": [
          "0",
          "1",
          "2",
          "3",
          "4",
          "!5-",
          "5-",
          "5+",
          "6-",
          "6+",
          "7"
        ],
        "type": "string",
        "description": "震度"
      },
      "RegionSettingResponse": {
        "type": "object",
        "properties": {
          "region_id": {
            "type": "number"
          },
          "region_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "is_current_location": {
            "type": "boolean"
          },
          "min_jma_intensity": {
            "$ref": "#/components/schemas/JmaIntensity"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "region_id",
          "region_name",
          "is_current_location",
          "min_jma_intensity",
          "created_at",
          "updated_at"
        ]
      },
      "RegionSettingRequest": {
        "type": "object",
        "properties": {
          "region_id": {
            "type": "number"
          },
          "region_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "is_current_location": {
            "type": "boolean"
          },
          "min_jma_intensity": {
            "$ref": "#/components/schemas/JmaIntensity"
          }
        },
        "required": [
          "region_id",
          "is_current_location",
          "min_jma_intensity"
        ]
      },
      "RegionSettingPatchRequest": {
        "type": "object",
        "properties": {
          "region_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "nullable": true
          },
          "is_current_location": {
            "type": "boolean",
            "nullable": true
          },
          "min_jma_intensity": {
            "allOf": [
              {
                "$ref": "#/components/schemas/JmaIntensity"
              }
            ],
            "nullable": true
          }
        },
        "required": []
      },
      "EewSettingsResponse": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "notification_tiers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "min_jma_intensity": {
                  "enum": [
                    "0",
                    "1",
                    "2",
                    "3",
                    "4",
                    "!5-",
                    "5-",
                    "5+",
                    "6-",
                    "6+",
                    "7"
                  ],
                  "type": "string"
                },
                "sound": {
                  "type": "string"
                },
                "interruption_level": {
                  "enum": [
                    "passive",
                    "active",
                    "time_sensitive",
                    "critical"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "min_jma_intensity",
                "sound",
                "interruption_level"
              ]
            },
            "minItems": 1
          },
          "start_live_activity": {
            "type": "boolean"
          }
        },
        "required": [
          "enabled",
          "notification_tiers",
          "start_live_activity"
        ]
      },
      "EewSettingsRequest": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "nullable": true
          },
          "notification_tiers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "min_jma_intensity": {
                  "enum": [
                    "0",
                    "1",
                    "2",
                    "3",
                    "4",
                    "!5-",
                    "5-",
                    "5+",
                    "6-",
                    "6+",
                    "7"
                  ],
                  "type": "string"
                },
                "sound": {
                  "type": "string"
                },
                "interruption_level": {
                  "enum": [
                    "passive",
                    "active",
                    "time_sensitive",
                    "critical"
                  ],
                  "type": "string"
                }
              },
              "required": [
                "min_jma_intensity",
                "sound",
                "interruption_level"
              ]
            },
            "minItems": 1,
            "nullable": true
          },
          "start_live_activity": {
            "type": "boolean",
            "nullable": true
          }
        },
        "required": []
      },
      "ShakeDetectionLevel": {
        "enum": [
          "Weaker",
          "Weak",
          "Medium",
          "Strong",
          "Stronger"
        ],
        "type": "string",
        "description": "揺れ検知レベル"
      },
      "ShakeDetectionSettingResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "sub_region_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "min_level": {
            "$ref": "#/components/schemas/ShakeDetectionLevel"
          },
          "is_current_location": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "sub_region_id",
          "min_level",
          "is_current_location",
          "created_at",
          "updated_at"
        ]
      },
      "ShakeDetectionSettingRequest": {
        "type": "object",
        "properties": {
          "sub_region_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "min_level": {
            "$ref": "#/components/schemas/ShakeDetectionLevel"
          },
          "is_current_location": {
            "type": "boolean"
          }
        },
        "required": [
          "sub_region_id",
          "min_level",
          "is_current_location"
        ]
      },
      "ShakeDetectionSubRegionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "code",
          "name"
        ]
      },
      "NotificationLogItem": {
        "type": "object",
        "properties": {
          "stream_id": {
            "type": "string"
          },
          "device_id": {
            "type": "string"
          },
          "framework": {
            "enum": [
              "FCM",
              "APNS"
            ],
            "type": "string"
          },
          "result": {
            "enum": [
              "OK",
              "NG"
            ],
            "type": "string"
          },
          "error_code": {
            "type": "string"
          },
          "error_message": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "android_priority": {
            "type": "string"
          },
          "android_notification_priority": {
            "type": "string"
          },
          "channel_id": {
            "type": "string"
          },
          "apns_priority": {
            "type": "string"
          },
          "interruption_level": {
            "type": "string"
          }
        },
        "required": [
          "stream_id",
          "device_id",
          "framework",
          "result",
          "created_at"
        ]
      },
      "NotificationHistoryResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationLogItem"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "required": [
          "items"
        ]
      },
      "UnauthorizedResponse": {
        "type": "object",
        "properties": {
          "code": {
            "const": "UNAUTHORIZED"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "NotFoundResponse": {
        "type": "object",
        "properties": {
          "code": {
            "const": "NOT_FOUND"
          },
          "message": {
            "const": "Not Found"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "ServiceUnavailableResponse": {
        "type": "object",
        "properties": {
          "code": {
            "const": "SERVICE_UNAVAILABLE"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "TestNotificationRequest": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "silent",
              "normal",
              "critical"
            ],
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "TestNotificationResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "framework": {
            "enum": [
              "FCM",
              "APNS"
            ],
            "type": "string"
          }
        },
        "required": [
          "message",
          "framework"
        ]
      },
      "TelegramStatus": {
        "enum": [
          "NORMAL",
          "TRAINING",
          "TEST"
        ],
        "type": "string",
        "description": "情報の運用状態"
      },
      "EarthquakeSortBy": {
        "enum": [
          "event_id",
          "magnitude",
          "max_intensity",
          "max_lpgm_intensity",
          "depth",
          "origin_time"
        ],
        "type": "string",
        "description": "地震情報のソートキー"
      },
      "SortOrder": {
        "enum": [
          "asc",
          "desc"
        ],
        "type": "string",
        "description": "ソート順"
      },
      "OriginTimePrecision": {
        "enum": [
          "MILLISECOND",
          "SECOND",
          "MINUTE",
          "HOUR",
          "DAY",
          "MONTH"
        ],
        "type": "string",
        "description": "発生時刻の精度"
      },
      "CodeName": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "name"
        ],
        "description": "コードと名前のペア"
      },
      "CoordinateType": {
        "enum": [
          "LAT_LNG",
          "UNKNOWN"
        ],
        "type": "string",
        "description": "震源座標の種別"
      },
      "Coordinate": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CoordinateType"
          },
          "latitude": {
            "type": "number",
            "description": "緯度(typeがLAT_LNGのときのみ出現する)"
          },
          "longitude": {
            "type": "number",
            "description": "経度(typeがLAT_LNGのときのみ出現する)"
          },
          "condition": {
            "type": "string",
            "description": "不明の場合のみ出現する"
          }
        },
        "required": [
          "type"
        ],
        "examples": [
          {
            "type": "LAT_LNG",
            "latitude": 35.681236,
            "longitude": 139.767125
          },
          {
            "type": "UNKNOWN",
            "condition": "不明"
          }
        ],
        "description": "震源座標"
      },
      "Magnitude": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "NORMAL",
              "UNKNOWN",
              "OVER_M8"
            ],
            "type": "string"
          },
          "value": {
            "type": "number",
            "description": "typeがNORMALのときのみ出現する"
          }
        },
        "required": [
          "type"
        ],
        "description": "地震の規模を表すマグニチュード",
        "examples": [
          {
            "type": "NORMAL",
            "value": 6.5
          },
          {
            "type": "UNKNOWN"
          }
        ]
      },
      "DepthType": {
        "enum": [
          "SHALLOW",
          "NORMAL",
          "OVER_700",
          "UNKNOWN"
        ],
        "type": "string",
        "description": "震源の深さの種別"
      },
      "Depth": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DepthType"
          },
          "value": {
            "type": "number",
            "description": "typeがNORMALのときのみ出現する"
          }
        },
        "required": [
          "type"
        ],
        "description": "震源の深さ",
        "examples": [
          {
            "type": "NORMAL",
            "value": 120
          }
        ]
      },
      "HypocenterAuxiliary": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "direction": {
            "type": "string"
          },
          "distance_km": {
            "type": "number"
          }
        },
        "required": [
          "code",
          "name",
          "direction",
          "distance_km"
        ],
        "description": "震源の補助情報（方角・距離等、津波電文で使用）"
      },
      "Hypocenter": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/CodeName"
          },
          "detailed": {
            "$ref": "#/components/schemas/CodeName"
          },
          "coordinates": {
            "$ref": "#/components/schemas/Coordinate"
          },
          "magnitude": {
            "$ref": "#/components/schemas/Magnitude"
          },
          "depth": {
            "$ref": "#/components/schemas/Depth"
          },
          "auxiliary": {
            "$ref": "#/components/schemas/HypocenterAuxiliary"
          }
        },
        "required": [
          "value",
          "coordinates",
          "magnitude",
          "depth"
        ],
        "description": "震源に関する情報"
      },
      "EarthquakeDatasource": {
        "enum": [
          "JMA_INTENSITY_DATABASE",
          "JMA_DISASTER_INFORMATION_XML"
        ],
        "type": "string",
        "description": "地震データのソース"
      },
      "JmaLpgmIntensity": {
        "enum": [
          "0",
          "1",
          "2",
          "3",
          "4"
        ],
        "type": "string",
        "description": "LPGM震度"
      },
      "IntensityItem": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/CodeName"
          },
          "max_intensity": {
            "$ref": "#/components/schemas/JmaIntensity"
          },
          "max_lpgm_intensity": {
[...]
