//
//  secrets.xcconfig
//  Runner
//
//  Created by 尾上 遼太朗 on 2024/07/31.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_BASE_URL=https://example.com
