<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eqmonitor.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1287</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>62F2A86BF4A99970DBE26E07F51AEE4DEA85AA0B</string>
				<key>dateExpires</key>
				<string>2026/11/18</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62F2A86BF4A99970DBE26E07F51AEE4DEA85AA0B</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62F2A86BF4A99970DBE26E07F51AEE4DEA85AA0B</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>12.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62F2A86BF4A99970DBE26E07F51AEE4DEA85AA0B</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3.2.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62F2A86BF4A99970DBE26E07F51AEE4DEA85AA0B</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAdsOnDeviceConversion.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62F2A86BF4A99970DBE26E07F51AEE4DEA85AA0B</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>12.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62F2A86BF4A99970DBE26E07F51AEE4DEA85AA0B</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>12.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>6.19.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62F2A86BF4A99970DBE26E07F51AEE4DEA85AA0B</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapLibre.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.19.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62F2A86BF4A99970DBE26E07F51AEE4DEA85AA0B</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>objective_c.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1287</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62F2A86BF4A99970DBE26E07F51AEE4DEA85AA0B</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>CPL7H8SHVM.net.yumnumm.eqmonitor.FcmServiceExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>CPL7H8SHVM</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>FcmServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>bd69b9c0-389e-4beb-96f7-d0e87b5a1b97</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: net.yumnumm.eqmonitor.FcmServiceExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1287</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62F2A86BF4A99970DBE26E07F51AEE4DEA85AA0B</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>CPL7H8SHVM.net.yumnumm.eqmonitor.Widget</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>CPL7H8SHVM</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>WidgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>11e63085-0d28-42a4-b991-250932b94fae</string>
						<key>dateExpires</key>
						<string>2026/11/18</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: net.yumnumm.eqmonitor.Widget</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CPL7H8SHVM.net.yumnumm.eqmonitor</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>CPL7H8SHVM</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>63771bd5-0f54-42f4-b0f4-07165b066abc</string>
				<key>dateExpires</key>
				<string>2026/11/18</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: net.yumnumm.eqmonitor</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CPL7H8SHVM</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>3.0.0</string>
		</dict>
	</array>
</dict>
</plist>
