<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eqmonitor.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>1161</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
				<key>dateExpires</key>
				<string>2024/07/16</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>15256</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mapbox.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>5.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PurchasesHybridCommon.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RevenueCat.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>4.39.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_settings.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>in_app_review.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>integration_test.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>maplibre_gl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>purchases_flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.25.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1161</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4609FE8A819F994F4AD5C990A8447BCFAB4F40A5</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>CPL7H8SHVM.net.yumnumm.eqmonitor.FcmServiceExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>CPL7H8SHVM</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>FcmServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>21396a7c-9872-4293-93d3-28285b96236a</string>
						<key>dateExpires</key>
						<string>2024/07/16</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: net.yumnumm.eqmonitor.FcmServiceExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CPL7H8SHVM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CPL7H8SHVM.net.yumnumm.eqmonitor</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>CPL7H8SHVM</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>62d4e6fc-1c4e-4e51-bed5-f1f76c4d215d</string>
				<key>dateExpires</key>
				<string>2024/07/16</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: net.yumnumm.eqmonitor</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CPL7H8SHVM</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>2.4.0</string>
		</dict>
	</array>
</dict>
</plist>
