name: Auto Format

# ref: https://qiita.com/blendthink/items/48e6c4b2c0f016da8c72

on:
  push:
  pull_request:

env:
  # フォーマット対象のパス
  FORMAT_PATHS: "."

jobs:
  auto-format:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # https://github.com/kuhnroyal/flutter-fvm-config-action
      - name: Fetch flutter config
        uses: kuhnroyal/flutter-fvm-config-action@v1

      # https://github.com/subosito/flutter-action
      - name: Set up flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: ${{ env.FLUTTER_CHANNEL }}
          cache: true
          cache-key: ${{ env.FLUTTER_VERSION }}-${{ env.FLUTTER_CHANNEL }}

      - name: Flutter version
        run: flutter --version

      - name: Format
        run: flutter format $FORMAT_PATHS

      # 変更が発生した場合は プルリクエストを作成
      - name: Create pull request
        uses: peter-evans/create-pull-request@v4
        with:
          delete-branch: true
          commit-message: "Auto format"
          committer: "GitHub Actions <noreply@github.com>"
          branch: "auto-format/${{ github.sha }}"
          title: "Auto format by GitHub Actions"
          body: "Auto format by GitHub Actions on ${{ github.sha }}"


