{
  "openapi": "3.1.0",
  "tags": [
    {
      "name": "Start",
      "description": "アプリ起動情報"
    },
    {
      "name": "Changelog",
      "description": "バージョン履歴"
    },
    {
      "name": "Earthquake",
      "description": "地震情報"
    },
    {
      "name": "EEW",
      "description": "緊急地震速報"
    },
    {
      "name": "Telegram",
      "description": "気象庁電文"
    },
    {
      "name": "User",
      "description": "ユーザー"
    },
    {
      "name": "Realtime",
      "description": "リアルタイム（SSE）"
    },
    {
      "name": "Device",
      "description": "デバイス"
    },
    {
      "name": "Parameters",
      "description": "アプリ配信用パラメーターデータ"
    }
  ],
  "info": {
    "title": "EQMonitor Backend API",
    "description": "EQMonitorのAPI仕様書",
    "version": "2.0.0",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "contact": {
      "email": "admin@yumnumm.dev",
      "name": "YumNumm",
      "url": "https://github.com/YumNumm"
    }
  },
  "servers": [
    {
      "url": "https://v2.api.eqmonitor.app",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local Development"
    },
    {
      "url": "https://home.v2.api.eqmonitor.app",
      "description": "Production Home"
    }
  ],
  "paths": {
    "/v1/changelog": {
      "get": {
        "operationId": "getV1Changelog",
        "tags": [
          "Changelog"
        ],
        "description": "アプリのバージョン履歴を返す",
        "responses": {
          "200": {
            "description": "変更履歴",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangelogResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangelogBadRequestResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "since",
            "schema": {
              "type": "string",
              "pattern": "^\\d+\\.\\d+\\.\\d+$"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "in": "header",
            "name": "if-none-match",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/start": {
      "get": {
        "operationId": "getV1Start",
        "tags": [
          "Start"
        ],
        "description": "アプリ起動時のフラグ・バージョン情報を返す",
        "responses": {
          "200": {
            "description": "Start情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "if-none-match",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v2/admin/dispatches": {
      "get": {
        "operationId": "getV2AdminDispatches",
        "tags": [
          "Admin"
        ],
        "description": "配信サマリー一覧",
        "responses": {
          "200": {
            "description": "配信サマリー一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminDispatchSummaryListResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/admin/dispatches/{correlationKey}": {
      "get": {
        "operationId": "getV2AdminDispatchesByCorrelationKey",
        "tags": [
          "Admin"
        ],
        "description": "配信サマリー詳細",
        "responses": {
          "200": {
            "description": "配信サマリー詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminDispatchSummaryDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "未検出",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "correlationKey",
            "required": true
          }
        ]
      }
    },
    "/v2/admin/test-live-event": {
      "post": {
        "operationId": "postV2AdminTestLiveEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eventType": {
                    "enum": [
                      "eew",
                      "shake_detection"
                    ],
                    "type": "string"
                  },
                  "target": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "const": "device_id"
                          },
                          "deviceId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "deviceId",
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "const": "push_to_start_token"
                          },
                          "token": {
                            "type": "string"
                          },
                          "environment": {
                            "enum": [
                              "development",
                              "production"
                            ],
                            "type": "string"
                          }
                        },
                        "required": [
                          "environment",
                          "token",
                          "type"
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "eventType",
                  "target"
                ]
              }
            }
          }
        },
        "tags": [
          "Admin"
        ],
        "description": "任意のデバイスにテスト用Live Activityイベントを送信",
        "responses": {
          "200": {
            "description": "送信成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "const": true
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/admin/replay-files": {
      "get": {
        "operationId": "getV2AdminReplayFiles",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          }
        ],
        "tags": [
          "Admin"
        ],
        "description": "リプレイファイル一覧",
        "responses": {
          "200": {
            "description": "リプレイファイル一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminReplayFileListResponse"
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplayForbiddenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/admin/replay-files/{id}": {
      "get": {
        "operationId": "getV2AdminReplayFilesById",
        "tags": [
          "Admin"
        ],
        "description": "リプレイファイル詳細（トリガー情報含む）",
        "responses": {
          "200": {
            "description": "リプレイファイル詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminReplayFileDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplayForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "未検出",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ]
      }
    },
    "/v2/admin/replay-files/{id}/download-url": {
      "get": {
        "operationId": "getV2AdminReplayFilesByIdDownloadUrl",
        "tags": [
          "Admin"
        ],
        "description": "署名付きダウンロード URL 発行",
        "responses": {
          "200": {
            "description": "署名付き URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminReplayFileDownloadUrlResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplayForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "未検出",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "署名付き URL 生成失敗",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "オブジェクトストレージ（S3）未設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplayDownloadServiceUnavailable"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ]
      }
    },
    "/v2/device/challenge": {
      "post": {
        "operationId": "postV2DeviceChallenge",
        "tags": [
          "Device"
        ],
        "description": "チャレンジコードを発行する（IP レート制限あり）",
        "responses": {
          "201": {
            "description": "チャレンジコード",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChallengeResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過"
          }
        }
      }
    },
    "/v2/device": {
      "post": {
        "operationId": "postV2Device",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceRegisterBody"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "デバイスを登録してJWTを返す。X-Firebase-AppCheck または X-Challenge-Code/X-Challenge-Response が必要。",
        "responses": {
          "201": {
            "description": "デバイスID と デバイストークン",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceRegisterResponse"
                }
              }
            }
          },
          "400": {
            "description": "リクエスト不正"
          },
          "401": {
            "description": "AppCheck 認証失敗"
          },
          "403": {
            "description": "チャレンジ不一致・期限切れ・使用済み"
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me": {
      "get": {
        "operationId": "getV2DeviceMe",
        "tags": [
          "Device"
        ],
        "description": "デバイス情報を取得",
        "responses": {
          "200": {
            "description": "デバイス情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceMeResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー"
          },
          "404": {
            "description": "デバイスが見つからない"
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceMe",
        "tags": [
          "Device"
        ],
        "description": "デバイスを削除（JWTを無効化後に削除）",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "401": {
            "description": "認証エラー"
          }
        }
      }
    },
    "/v2/device/me/fcm": {
      "patch": {
        "operationId": "patchV2DeviceMeFcm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "FCMトークンを更新",
        "responses": {
          "204": {
            "description": "更新成功"
          },
          "401": {
            "description": "認証エラー"
          }
        }
      }
    },
    "/v2/device/me/apns/{kind}": {
      "patch": {
        "operationId": "patchV2DeviceMeApnsByKind",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2DeviceMeApnsKindRequestBody"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "kind",
            "schema": {
              "anyOf": [
                {
                  "const": "notification"
                },
                {
                  "const": "liveActivityStart"
                }
              ]
            },
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "APNsトークンを更新",
        "responses": {
          "204": {
            "description": "更新成功"
          },
          "400": {
            "description": "kindが不正"
          },
          "401": {
            "description": "認証エラー"
          }
        }
      }
    },
    "/v2/device/me/settings/notification": {
      "get": {
        "operationId": "getV2DeviceMeSettingsNotification",
        "tags": [
          "Device"
        ],
        "description": "全般通知設定を取得",
        "responses": {
          "200": {
            "description": "全般通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingsResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceMeSettingsNotification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationSettingsRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "全般通知設定を更新",
        "responses": {
          "200": {
            "description": "更新後の全般通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/earthquake": {
      "get": {
        "operationId": "getV2DeviceMeSettingsEarthquake",
        "tags": [
          "Device"
        ],
        "description": "地震通知設定を取得",
        "responses": {
          "200": {
            "description": "地震通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeSettingsResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceMeSettingsEarthquake",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EarthquakeSettingsRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "地震通知設定を更新",
        "responses": {
          "200": {
            "description": "更新後の地震通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/earthquake/regions": {
      "get": {
        "operationId": "getV2DeviceMeSettingsEarthquakeRegions",
        "tags": [
          "Device"
        ],
        "description": "地震通知リージョン設定一覧を取得",
        "responses": {
          "200": {
            "description": "リージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionSettingResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "putV2DeviceMeSettingsEarthquakeRegions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RegionSettingRequest"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "地震通知リージョン設定を一括更新（全件上書き）",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionSettingResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/earthquake/regions/{regionId}": {
      "get": {
        "operationId": "getV2DeviceMeSettingsEarthquakeRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を取得",
        "responses": {
          "200": {
            "description": "リージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSettingResponse"
                }
              }
            }
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceMeSettingsEarthquakeRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegionSettingPatchRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を更新",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceMeSettingsEarthquakeRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/eew": {
      "get": {
        "operationId": "getV2DeviceMeSettingsEew",
        "tags": [
          "Device"
        ],
        "description": "EEW通知設定を取得",
        "responses": {
          "200": {
            "description": "EEW通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewSettingsResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceMeSettingsEew",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EewSettingsRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "EEW通知設定を更新",
        "responses": {
          "200": {
            "description": "更新後のEEW通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/eew/regions": {
      "get": {
        "operationId": "getV2DeviceMeSettingsEewRegions",
        "tags": [
          "Device"
        ],
        "description": "EEW通知リージョン設定一覧を取得",
        "responses": {
          "200": {
            "description": "リージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionSettingResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "putV2DeviceMeSettingsEewRegions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RegionSettingRequest"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "EEW通知リージョン設定を一括更新（全件上書き）",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionSettingResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/eew/regions/{regionId}": {
      "get": {
        "operationId": "getV2DeviceMeSettingsEewRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を取得",
        "responses": {
          "200": {
            "description": "リージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSettingResponse"
                }
              }
            }
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceMeSettingsEewRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegionSettingPatchRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を更新",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceMeSettingsEewRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/RegionIdParam"
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定のリージョン設定を削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/shake-detection": {
      "get": {
        "operationId": "getV2DeviceMeSettingsShakeDetection",
        "tags": [
          "Device"
        ],
        "description": "揺れ検知通知設定一覧を取得",
        "responses": {
          "200": {
            "description": "揺れ検知通知設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShakeDetectionSettingResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "putV2DeviceMeSettingsShakeDetection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ShakeDetectionSettingRequest"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "揺れ検知通知設定を一括更新（全件上書き）",
        "responses": {
          "200": {
            "description": "更新後の揺れ検知通知設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShakeDetectionSettingResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/shake-detection/sub-regions": {
      "get": {
        "operationId": "getV2DeviceMeSettingsShakeDetectionSubRegions",
        "tags": [
          "Device"
        ],
        "description": "揺れ検知サブ地域マスター一覧を取得",
        "responses": {
          "200": {
            "description": "サブ地域一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShakeDetectionSubRegionResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/live-activity": {
      "get": {
        "operationId": "getV2DeviceMeLiveActivity",
        "tags": [
          "Device"
        ],
        "description": "Live Activity updateToken一覧を取得",
        "responses": {
          "200": {
            "description": "Live Activity一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LiveActivityTokenResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/live-activity/{liveActivityId}/token": {
      "put": {
        "operationId": "putV2DeviceMeLiveActivityByLiveActivityIdToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/LiveActivityIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveActivityTokenRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "Live Activity updateTokenを更新。notification-resolverで作成されたレコードのtokenを更新する。",
        "responses": {
          "200": {
            "description": "更新後のLive Activity情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveActivityTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Live Activityが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceMeLiveActivityByLiveActivityIdToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/LiveActivityIdParam"
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "Live Activity updateTokenを削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "トークンが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/live-activity/test-scenario": {
      "post": {
        "operationId": "postV2DeviceMeLiveActivityTestScenario",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveActivityTestScenarioRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "デバッグ用: Live Activity の 4 報シーケンス（start + 3 updates）を再生する",
        "responses": {
          "200": {
            "description": "シナリオ起動完了",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveActivityTestScenarioResponse"
                }
              }
            }
          },
          "404": {
            "description": "LIVE_ACTIVITY_START トークンが未登録",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/notification/history": {
      "get": {
        "operationId": "getV2DeviceMeNotificationHistory",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": "100"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Notification"
        ],
        "description": "デバイスの通知履歴を取得",
        "responses": {
          "200": {
            "description": "通知履歴",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationHistoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "サービス利用不可",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/notification/dispatches": {
      "get": {
        "operationId": "getV2DeviceMeNotificationDispatches",
        "tags": [
          "Notification"
        ],
        "description": "配信サマリー一覧（admin）",
        "responses": {
          "200": {
            "description": "配信サマリー一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispatchSummaryListResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/notification/dispatches/{correlationKey}": {
      "get": {
        "operationId": "getV2DeviceMeNotificationDispatchesByCorrelationKey",
        "tags": [
          "Notification"
        ],
        "description": "配信サマリー詳細（admin）",
        "responses": {
          "200": {
            "description": "配信サマリー詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispatchSummaryDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "未検出",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "correlationKey",
            "required": true
          }
        ]
      }
    },
    "/v2/device/me/notification/test": {
      "post": {
        "operationId": "postV2DeviceMeNotificationTest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestNotificationRequest"
              }
            }
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "テスト通知を送信",
        "responses": {
          "201": {
            "description": "テスト通知を送信",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestNotificationResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスまたはトークンが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "サービス利用不可",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake": {
      "get": {
        "operationId": "getV2Earthquake",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeSortBy",
              "default": "event_id"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "desc"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "description": "地震情報一覧",
        "responses": {
          "200": {
            "description": "地震情報一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/{eventId}": {
      "get": {
        "operationId": "getV2EarthquakeByEventId",
        "parameters": [
          {
            "$ref": "#/components/parameters/EarthquakeEventIdParam"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "地震情報詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "地震情報が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/region/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityRegionByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityRegionCodeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeSortBy",
              "default": "event_id"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "desc"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "震度細分区域から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityRegionSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/prefecture/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityPrefectureByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityPrefectureCodeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeSortBy",
              "default": "event_id"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "desc"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "都道府県から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityPrefectureSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/city/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityCityByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityCityCodeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeSortBy",
              "default": "event_id"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "desc"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "市区町村から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityCitySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/station/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityStationByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityStationCodeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeSortBy",
              "default": "event_id"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "desc"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "観測点から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityStationSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/epicenter/{code}": {
      "get": {
        "operationId": "getV2EarthquakeEpicenterByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/EpicenterCodeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeSortBy",
              "default": "event_id"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "desc"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "震源地から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpicenterSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/eew": {
      "get": {
        "operationId": "getV2Eew",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO8601形式のタイムスタンプ (例: 2024-01-01T00:00:00Z)"
          },
          {
            "in": "query",
            "name": "isWarning",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "EEW"
        ],
        "description": "最終報の緊急地震速報一覧を取得",
        "responses": {
          "200": {
            "description": "最終報の緊急地震速報一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/eew/latest": {
      "get": {
        "operationId": "getV2EewLatest",
        "tags": [
          "EEW"
        ],
        "responses": {
          "200": {
            "description": "発表から5分以内の最新緊急地震速報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewLatestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/eew/{eventId}": {
      "get": {
        "operationId": "getV2EewByEventId",
        "parameters": [
          {
            "$ref": "#/components/parameters/EewEventIdParam"
          }
        ],
        "tags": [
          "EEW"
        ],
        "responses": {
          "200": {
            "description": "緊急地震速報配列",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewArrayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "緊急地震速報が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/eew/{eventId}/{serialNo}": {
      "get": {
        "operationId": "getV2EewByEventIdBySerialNo",
        "parameters": [
          {
            "$ref": "#/components/parameters/EewEventIdSerialNoParam"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "serialNo",
            "required": true
          }
        ],
        "tags": [
          "EEW"
        ],
        "responses": {
          "200": {
            "description": "緊急地震速報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewItemWithRelations"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "緊急地震速報が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/feeds": {
      "get": {
        "operationId": "getV2Feeds",
        "parameters": [
          {
            "in": "query",
            "name": "locale",
            "schema": {
              "type": "string",
              "default": "ja"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "minimum": 1,
              "maximum": 100,
              "default": "20"
            }
          },
          {
            "in": "query",
            "name": "after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "important",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Feed"
        ],
        "description": "Feed一覧（お知らせ・地震関連情報など）",
        "responses": {
          "200": {
            "description": "Feed一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/feeds/admin": {
      "post": {
        "operationId": "postV2FeedsAdmin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "feedType": {
                    "anyOf": [
                      {
                        "const": "APP_UPDATE"
                      },
                      {
                        "const": "INCIDENT"
                      },
                      {
                        "const": "DEVELOPER_MESSAGE"
                      }
                    ]
                  },
                  "priority": {
                    "anyOf": [
                      {
                        "const": "CRITICAL"
                      },
                      {
                        "const": "HIGH"
                      },
                      {
                        "const": "NORMAL"
                      },
                      {
                        "const": "LOW"
                      }
                    ]
                  },
                  "isImportant": {
                    "type": "boolean"
                  },
                  "publishedAt": {
                    "type": "string"
                  },
                  "expiresAt": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "version": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      }
                    }
                  },
                  "translations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "locale": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "summary": {
                          "type": "string"
                        },
                        "body": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "locale"
                      ]
                    }
                  }
                },
                "required": [
                  "data",
                  "feedType",
                  "isImportant",
                  "priority",
                  "publishedAt",
                  "translations"
                ]
              }
            }
          }
        },
        "tags": [
          "Feed"
        ],
        "description": "Feed作成（管理者のみ）",
        "responses": {
          "200": {
            "description": "作成されたFeed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedCreateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/parameters/manifest": {
      "get": {
        "operationId": "getV2ParametersManifest",
        "tags": [
          "Parameters"
        ],
        "description": "パラメーターデータのバージョン・取得先一覧",
        "responses": {
          "200": {
            "description": "パラメーターデータのmanifest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParametersManifestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "パラメーターassetが利用できません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParameterServiceUnavailableResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "if-none-match",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v2/parameters/{type}": {
      "get": {
        "operationId": "getV2ParametersByType",
        "parameters": [
          {
            "$ref": "#/components/parameters/ParameterTypeParam"
          },
          {
            "in": "header",
            "name": "if-none-match",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Parameters"
        ],
        "description": "指定したパラメーターデータ",
        "responses": {
          "200": {
            "description": "パラメーターデータ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParameterDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "パラメーター種別が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "パラメーターassetが利用できません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParameterServiceUnavailableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/subscription/me": {
      "get": {
        "operationId": "getV2SubscriptionMe",
        "tags": [
          "Subscription"
        ],
        "description": "現在のサブスクリプション状態を取得する。Authorization: Bearer <deviceToken> が必要。",
        "responses": {
          "200": {
            "description": "サブスクリプション状態",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/SubscriptionActiveResponse"
                    },
                    {
                      "$ref": "#/components/schemas/SubscriptionInactiveResponse"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "認証エラー"
          }
        }
      }
    },
    "/v2/telegram": {
      "get": {
        "operationId": "getV2Telegram",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          }
        ],
        "tags": [
          "Telegram"
        ],
        "responses": {
          "200": {
            "description": "電文一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/telegram/type/{type}": {
      "get": {
        "operationId": "getV2TelegramTypeByType",
        "parameters": [
          {
            "$ref": "#/components/parameters/TelegramTypeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          }
        ],
        "tags": [
          "Telegram"
        ],
        "responses": {
          "200": {
[...]
