{
  "openapi": "3.1.0",
  "tags": [
    {
      "name": "Start",
      "description": "アプリ起動情報"
    },
    {
      "name": "Changelog",
      "description": "バージョン履歴"
    },
    {
      "name": "Earthquake",
      "description": "地震情報"
    },
    {
      "name": "EEW",
      "description": "緊急地震速報"
    },
    {
      "name": "Telegram",
      "description": "気象庁電文"
    },
    {
      "name": "User",
      "description": "ユーザー"
    },
    {
      "name": "Realtime",
      "description": "リアルタイム（SSE）"
    },
    {
      "name": "Device",
      "description": "デバイス"
    },
    {
      "name": "Parameters",
      "description": "アプリ配信用パラメーターデータ"
    }
  ],
  "info": {
    "title": "EQMonitor Backend API",
    "description": "EQMonitorのAPI仕様書",
    "version": "2.0.0",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "contact": {
      "email": "admin@yumnumm.dev",
      "name": "YumNumm",
      "url": "https://github.com/YumNumm"
    }
  },
  "servers": [
    {
      "url": "https://v2.api.eqmonitor.app",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local Development"
    },
    {
      "url": "https://home.v2.api.eqmonitor.app",
      "description": "Production Home"
    }
  ],
  "paths": {
    "/v1/changelog": {
      "get": {
        "operationId": "getV1Changelog",
        "tags": [
          "Changelog"
        ],
        "description": "アプリのバージョン履歴を返す",
        "responses": {
          "200": {
            "description": "変更履歴",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangelogResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangelogBadRequestResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "since",
            "schema": {
              "type": "string",
              "pattern": "^\\d+\\.\\d+\\.\\d+$"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "in": "header",
            "name": "if-none-match",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/start": {
      "get": {
        "operationId": "getV1Start",
        "tags": [
          "Start"
        ],
        "description": "アプリ起動時のフラグ・バージョン情報を返す",
        "responses": {
          "200": {
            "description": "Start情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "if-none-match",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v2/admin/dispatches": {
      "get": {
        "operationId": "getV2AdminDispatches",
        "tags": [
          "Admin"
        ],
        "description": "配信サマリー一覧",
        "responses": {
          "200": {
            "description": "配信サマリー一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminDispatchSummaryListResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/admin/dispatches/{correlationKey}": {
      "get": {
        "operationId": "getV2AdminDispatchesByCorrelationKey",
        "tags": [
          "Admin"
        ],
        "description": "配信サマリー詳細",
        "responses": {
          "200": {
            "description": "配信サマリー詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminDispatchSummaryDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "未検出",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "correlationKey",
            "required": true
          }
        ]
      }
    },
    "/v2/admin/test-live-event": {
      "post": {
        "operationId": "postV2AdminTestLiveEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eventType": {
                    "enum": [
                      "EEW",
                      "SHAKE_DETECTION"
                    ],
                    "type": "string"
                  },
                  "target": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "const": "DEVICE_ID"
                          },
                          "deviceId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "deviceId",
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "const": "PUSH_TO_START_TOKEN"
                          },
                          "token": {
                            "type": "string"
                          },
                          "environment": {
                            "enum": [
                              "development",
                              "production"
                            ],
                            "type": "string"
                          }
                        },
                        "required": [
                          "environment",
                          "token",
                          "type"
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "eventType",
                  "target"
                ]
              }
            }
          }
        },
        "tags": [
          "Admin"
        ],
        "description": "任意のデバイスにテスト用Live Activityイベントを送信",
        "responses": {
          "200": {
            "description": "送信成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "const": true
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/admin/replay-files": {
      "get": {
        "operationId": "getV2AdminReplayFiles",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          }
        ],
        "tags": [
          "Admin"
        ],
        "description": "リプレイファイル一覧",
        "responses": {
          "200": {
            "description": "リプレイファイル一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminReplayFileListResponse"
                }
              }
            }
          },
          "400": {
            "description": "不正なリクエスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplayForbiddenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/admin/replay-files/{id}": {
      "get": {
        "operationId": "getV2AdminReplayFilesById",
        "tags": [
          "Admin"
        ],
        "description": "リプレイファイル詳細（トリガー情報含む）",
        "responses": {
          "200": {
            "description": "リプレイファイル詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminReplayFileDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplayForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "未検出",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ]
      }
    },
    "/v2/admin/replay-files/{id}/download-url": {
      "get": {
        "operationId": "getV2AdminReplayFilesByIdDownloadUrl",
        "tags": [
          "Admin"
        ],
        "description": "署名付きダウンロード URL 発行",
        "responses": {
          "200": {
            "description": "署名付き URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminReplayFileDownloadUrlResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplayForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "未検出",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "署名付き URL 生成失敗",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "オブジェクトストレージ（S3）未設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplayDownloadServiceUnavailable"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ]
      }
    },
    "/v2/device/challenge": {
      "post": {
        "operationId": "postV2DeviceChallenge",
        "tags": [
          "Device"
        ],
        "description": "チャレンジコードを発行する（IP レート制限あり）",
        "responses": {
          "201": {
            "description": "チャレンジコード",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChallengeResponse"
                }
              }
            }
          },
          "429": {
            "description": "レート制限超過"
          }
        }
      }
    },
    "/v2/device": {
      "post": {
        "operationId": "postV2Device",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceRegisterBody"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "デバイスを登録してJWTを返す。X-Firebase-AppCheck または X-Challenge-Code/X-Challenge-Response ヘッダーが存在する場合はそれぞれ検証を試みるが、検証失敗時も registrationType=null として登録を続行する。",
        "responses": {
          "201": {
            "description": "デバイスID と デバイストークン",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceRegisterResponse"
                }
              }
            }
          },
          "500": {
            "description": "サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me": {
      "get": {
        "operationId": "getV2DeviceMe",
        "tags": [
          "Device"
        ],
        "description": "デバイス情報を取得",
        "responses": {
          "200": {
            "description": "デバイス情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceMeResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー"
          },
          "404": {
            "description": "デバイスが見つからない"
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceMe",
        "tags": [
          "Device"
        ],
        "description": "デバイスを削除（JWTを無効化後に削除）",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "401": {
            "description": "認証エラー"
          }
        }
      }
    },
    "/v2/device/me/fcm": {
      "patch": {
        "operationId": "patchV2DeviceMeFcm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "FCMトークンを更新",
        "responses": {
          "204": {
            "description": "更新成功"
          },
          "401": {
            "description": "認証エラー"
          }
        }
      }
    },
    "/v2/device/me/apns/{kind}": {
      "patch": {
        "operationId": "patchV2DeviceMeApnsByKind",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2DeviceMeApnsKindRequestBody"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "kind",
            "schema": {
              "anyOf": [
                {
                  "const": "NOTIFICATION"
                },
                {
                  "const": "LIVE_ACTIVITY_START"
                }
              ]
            },
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "APNsトークンを更新",
        "responses": {
          "204": {
            "description": "更新成功"
          },
          "400": {
            "description": "kindが不正"
          },
          "401": {
            "description": "認証エラー"
          }
        }
      }
    },
    "/v2/device/me/settings/notification": {
      "get": {
        "operationId": "getV2DeviceMeSettingsNotification",
        "tags": [
          "Device"
        ],
        "description": "全般通知設定を取得",
        "responses": {
          "200": {
            "description": "全般通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingsResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceMeSettingsNotification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationSettingsRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "全般通知設定を更新",
        "responses": {
          "200": {
            "description": "更新後の全般通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/earthquake": {
      "get": {
        "operationId": "getV2DeviceMeSettingsEarthquake",
        "tags": [
          "Device"
        ],
        "description": "地震通知設定を取得",
        "responses": {
          "200": {
            "description": "地震通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeSettingsResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceMeSettingsEarthquake",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EarthquakeSettingsRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "地震通知設定を更新",
        "responses": {
          "200": {
            "description": "更新後の地震通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/eew": {
      "get": {
        "operationId": "getV2DeviceMeSettingsEew",
        "tags": [
          "Device"
        ],
        "description": "EEW通知設定を取得",
        "responses": {
          "200": {
            "description": "EEW通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewSettingsResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceMeSettingsEew",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EewSettingsRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "EEW通知設定を更新",
        "responses": {
          "200": {
            "description": "更新後のEEW通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/shake-detection": {
      "get": {
        "operationId": "getV2DeviceMeSettingsShakeDetection",
        "tags": [
          "Device"
        ],
        "description": "揺れ検知通知設定一覧を取得",
        "responses": {
          "200": {
            "description": "揺れ検知通知設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShakeDetectionSettingResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "putV2DeviceMeSettingsShakeDetection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ShakeDetectionSettingRequest"
                }
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "揺れ検知通知設定を一括更新（全件上書き）",
        "responses": {
          "200": {
            "description": "更新後の揺れ検知通知設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShakeDetectionSettingResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/shake-detection/sub-regions": {
      "get": {
        "operationId": "getV2DeviceMeSettingsShakeDetectionSubRegions",
        "tags": [
          "Device"
        ],
        "description": "揺れ検知サブ地域マスター一覧を取得",
        "responses": {
          "200": {
            "description": "サブ地域一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShakeDetectionSubRegionResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/tsunami": {
      "get": {
        "operationId": "getV2DeviceMeSettingsTsunami",
        "tags": [
          "Device"
        ],
        "description": "津波通知設定を取得",
        "responses": {
          "200": {
            "description": "津波通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TsunamiSettingsResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceMeSettingsTsunami",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TsunamiSettingsRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "津波通知設定を更新",
        "responses": {
          "200": {
            "description": "更新後の津波通知設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TsunamiSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/tsunami/regions": {
      "get": {
        "operationId": "getV2DeviceMeSettingsTsunamiRegions",
        "tags": [
          "Device"
        ],
        "description": "津波通知リージョン設定一覧を取得",
        "responses": {
          "200": {
            "description": "リージョン設定一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TsunamiRegionSettingResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postV2DeviceMeSettingsTsunamiRegions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TsunamiRegionSettingRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "津波通知リージョン設定を新規作成（同一予報区コードが既存の場合は上書き）",
        "responses": {
          "201": {
            "description": "作成されたリージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TsunamiRegionSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/tsunami/regions/{regionId}": {
      "get": {
        "operationId": "getV2DeviceMeSettingsTsunamiRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/TsunamiRegionIdParam"
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定の津波リージョン設定を取得",
        "responses": {
          "200": {
            "description": "リージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TsunamiRegionSettingResponse"
                }
              }
            }
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceMeSettingsTsunamiRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/TsunamiRegionIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TsunamiRegionSettingPatchRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "特定の津波リージョン設定を更新",
        "responses": {
          "200": {
            "description": "更新後のリージョン設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TsunamiRegionSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceMeSettingsTsunamiRegionsByRegionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/TsunamiRegionIdParam"
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "特定の津波リージョン設定を削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "リージョン設定が見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/slots": {
      "get": {
        "operationId": "getV2DeviceMeSettingsSlots",
        "tags": [
          "Device"
        ],
        "description": "通知スロット一覧を取得",
        "responses": {
          "200": {
            "description": "通知スロット一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SlotResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/slots/current-location": {
      "get": {
        "operationId": "getV2DeviceMeSettingsSlotsCurrentLocation",
        "tags": [
          "Device"
        ],
        "description": "現在地スロットを取得",
        "responses": {
          "200": {
            "description": "現在地スロット",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlotResponse"
                }
              }
            }
          },
          "404": {
            "description": "スロットが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "putV2DeviceMeSettingsSlotsCurrentLocation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertSingletonSlotRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "現在地スロットを upsert",
        "responses": {
          "200": {
            "description": "upsert 後のスロット",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlotResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceMeSettingsSlotsCurrentLocation",
        "tags": [
          "Device"
        ],
        "description": "現在地スロットを削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "スロットが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/slots/nationwide": {
      "get": {
        "operationId": "getV2DeviceMeSettingsSlotsNationwide",
        "tags": [
          "Device"
        ],
        "description": "全国スロットを取得",
        "responses": {
          "200": {
            "description": "全国スロット",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlotResponse"
                }
              }
            }
          },
          "404": {
            "description": "スロットが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "putV2DeviceMeSettingsSlotsNationwide",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertSingletonSlotRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "全国スロットを upsert",
        "responses": {
          "200": {
            "description": "upsert 後のスロット",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlotResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceMeSettingsSlotsNationwide",
        "tags": [
          "Device"
        ],
        "description": "全国スロットを削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "スロットが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/slots/regions": {
      "get": {
        "operationId": "getV2DeviceMeSettingsSlotsRegions",
        "tags": [
          "Device"
        ],
        "description": "地域スロット一覧を取得",
        "responses": {
          "200": {
            "description": "地域スロット一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SlotResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postV2DeviceMeSettingsSlotsRegions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRegionSlotRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "地域スロットを作成（プラン制約チェックあり）",
        "responses": {
          "201": {
            "description": "作成したスロット",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlotResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "402": {
            "description": "プラン上限超過"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/slots/regions/{slotId}": {
      "patch": {
        "operationId": "patchV2DeviceMeSettingsSlotsRegionsBySlotId",
        "parameters": [
          {
            "in": "path",
            "name": "slotId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRegionSlotRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "地域スロットを更新",
        "responses": {
          "200": {
            "description": "更新後のスロット",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlotResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "スロットが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceMeSettingsSlotsRegionsBySlotId",
        "parameters": [
          {
            "in": "path",
            "name": "slotId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "地域スロットを削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "スロットが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/settings/eew-warning": {
      "get": {
        "operationId": "getV2DeviceMeSettingsEewWarning",
        "tags": [
          "Device"
        ],
        "description": "EEW 警報設定を取得",
        "responses": {
          "200": {
            "description": "EEW 警報設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewWarningConfigResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchV2DeviceMeSettingsEewWarning",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EewWarningConfigRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "EEW 警報設定を更新（Free プランは nationwide 不可）",
        "responses": {
          "200": {
            "description": "更新後の EEW 警報設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EewWarningConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "402": {
            "description": "プラン制約超過"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/live-activity": {
      "get": {
        "operationId": "getV2DeviceMeLiveActivity",
        "tags": [
          "Device"
        ],
        "description": "Live Activity updateToken一覧を取得",
        "responses": {
          "200": {
            "description": "Live Activity一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LiveActivityTokenResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/live-activity/{liveActivityId}/token": {
      "put": {
        "operationId": "putV2DeviceMeLiveActivityByLiveActivityIdToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/LiveActivityIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveActivityTokenRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "Live Activity updateTokenを更新。notification-resolverで作成されたレコードのtokenを更新する。",
        "responses": {
          "200": {
            "description": "更新後のLive Activity情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveActivityTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Live Activityが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteV2DeviceMeLiveActivityByLiveActivityIdToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/LiveActivityIdParam"
          }
        ],
        "tags": [
          "Device"
        ],
        "description": "Live Activity updateTokenを削除",
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "404": {
            "description": "トークンが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/location": {
      "put": {
        "operationId": "putV2DeviceMeLocation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceLocationRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "デバイスの現在地を更新",
        "responses": {
          "200": {
            "description": "更新後の現在地情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceLocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "デバイスが見つからない"
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/notification/history": {
      "get": {
        "operationId": "getV2DeviceMeNotificationHistory",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": "100"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Notification"
        ],
        "description": "デバイスの通知履歴を取得",
        "responses": {
          "200": {
            "description": "通知履歴",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationHistoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "サービス利用不可",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/notification/dispatches": {
      "get": {
        "operationId": "getV2DeviceMeNotificationDispatches",
        "tags": [
          "Notification"
        ],
        "description": "配信サマリー一覧（admin）",
        "responses": {
          "200": {
            "description": "配信サマリー一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispatchSummaryListResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/notification/dispatches/{correlationKey}": {
      "get": {
        "operationId": "getV2DeviceMeNotificationDispatchesByCorrelationKey",
        "tags": [
          "Notification"
        ],
        "description": "配信サマリー詳細（admin）",
        "responses": {
          "200": {
            "description": "配信サマリー詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispatchSummaryDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "権限エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "未検出",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "correlationKey",
            "required": true
          }
        ]
      }
    },
    "/v2/device/me/notification/test": {
      "post": {
        "operationId": "postV2DeviceMeNotificationTest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestNotificationRequest"
              }
            }
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "テスト通知を送信",
        "responses": {
          "201": {
            "description": "テスト通知を送信",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestNotificationResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスまたはトークンが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "サービス利用不可",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/notification/test-scenario": {
      "post": {
        "operationId": "postV2DeviceMeNotificationTestScenario",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestScenarioRequest"
              }
            }
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "指定したイベントIDの実データをDBから取得し、実際の通知パイプラインを通してこのデバイスにのみ通知を配信する（EEW + VXSE51/52/53）",
        "responses": {
          "200": {
            "description": "シナリオ起動完了",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestScenarioResponse"
                }
              }
            }
          },
          "404": {
            "description": "指定されたイベントIDのデータまたは通知トークンが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "503": {
            "description": "Redis 接続不可",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/notification/test-scenario-type": {
      "post": {
        "operationId": "postV2DeviceMeNotificationTestScenarioType",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestScenarioTypeRequest"
              }
            }
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "シナリオを指定してテスト通知を送信。通知パイプラインを通してメッセージを生成し、[テスト/TEST] プレフィックス付きでこのデバイスにのみ配信する",
        "responses": {
          "200": {
            "description": "テストシナリオ起動完了",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestScenarioTypeResponse"
                }
              }
            }
          },
          "404": {
            "description": "デバイスまたはトークンが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "503": {
            "description": "Redis 接続不可",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/device/me/telemetry/events": {
      "post": {
        "operationId": "postV2DeviceMeTelemetryEvents",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryEventsRequest"
              }
            }
          }
        },
        "tags": [
          "Telemetry"
        ],
        "description": "クライアント側テレメトリイベントをバッチで受信",
        "responses": {
          "200": {
            "description": "受信成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelemetryEventsResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー"
          }
        }
      }
    },
    "/v2/device/me/migrate": {
      "post": {
        "operationId": "postV2DeviceMeMigrate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MigrateRequest"
              }
            }
          }
        },
        "tags": [
          "Device"
        ],
        "description": "旧 Supabase のデバイス設定を新 DB に移行",
        "responses": {
          "200": {
            "description": "移行結果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MigrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "404": {
            "description": "旧デバイスが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "409": {
            "description": "既にマイグレーション済み",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake": {
      "get": {
        "operationId": "getV2Earthquake",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "maxLpgmIntensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaLpgmIntensity"
            }
          },
          {
            "in": "query",
            "name": "maxLpgmIntensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaLpgmIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "日付 (例: 2024-01-01)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "日付 (例: 2024-01-01)"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "epicenterCodes",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "epicenterDetailCode",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "earthquakeType",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeType"
            }
          },
          {
            "in": "query",
            "name": "datasource",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeDatasource"
            }
          },
          {
            "in": "query",
            "name": "telegramTypes",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarthquakeTelegramType"
                  }
                },
                {
                  "$ref": "#/components/schemas/EarthquakeTelegramType"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "latitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "-180~180 の実数(string)"
          },
          {
            "in": "query",
            "name": "latitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "-180~180 の実数(string)"
          },
          {
            "in": "query",
            "name": "longitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "-180~180 の実数(string)"
          },
          {
            "in": "query",
            "name": "longitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "-180~180 の実数(string)"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeSortBy",
              "default": "event_id"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "DESC"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "description": "地震情報一覧。sortByでmagnitude/max_intensity/max_lpgm_intensity/depth/origin_timeを指定した場合、NULL値は常に末尾に配置されます。カーソルベースのページネーション(cursor)はevent_idに基づくため、sortByがevent_id以外の場合はcursorと併用できません（1ページ目の取得のみ対応）。",
        "responses": {
          "200": {
            "description": "地震情報一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/{eventId}": {
      "get": {
        "operationId": "getV2EarthquakeByEventId",
        "parameters": [
          {
            "$ref": "#/components/parameters/EarthquakeEventIdParam"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "responses": {
          "200": {
            "description": "地震情報詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarthquakeDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "地震情報が見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/prefecture/highest": {
      "get": {
        "operationId": "getV2EarthquakeIntensityPrefectureHighest",
        "parameters": [
          {
            "$ref": "#/components/parameters/HighestIntensityQueryParams"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "description": "都道府県ごとの過去最高震度一覧",
        "responses": {
          "200": {
            "description": "都道府県ごとの過去最高震度",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HighestIntensityResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/prefecture/{code}/city/highest": {
      "get": {
        "operationId": "getV2EarthquakeIntensityPrefectureByCodeCityHighest",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityPrefectureCodeParam"
          },
          {
            "$ref": "#/components/parameters/HighestIntensityQueryParams"
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "description": "指定都道府県内の市区町村ごとの過去最高震度一覧",
        "responses": {
          "200": {
            "description": "市区町村ごとの過去最高震度",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HighestIntensityResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/region/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityRegionByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityRegionCodeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "maxLpgmIntensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaLpgmIntensity"
            }
          },
          {
            "in": "query",
            "name": "maxLpgmIntensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaLpgmIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "日付 (例: 2024-01-01)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "日付 (例: 2024-01-01)"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "epicenterCodes",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "epicenterDetailCode",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "earthquakeType",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeType"
            }
          },
          {
            "in": "query",
            "name": "datasource",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeDatasource"
            }
          },
          {
            "in": "query",
            "name": "telegramTypes",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarthquakeTelegramType"
                  }
                },
                {
                  "$ref": "#/components/schemas/EarthquakeTelegramType"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "latitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "-180~180 の実数(string)"
          },
          {
            "in": "query",
            "name": "latitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "-180~180 の実数(string)"
          },
          {
            "in": "query",
            "name": "longitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "-180~180 の実数(string)"
          },
          {
            "in": "query",
            "name": "longitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "-180~180 の実数(string)"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeSortBy",
              "default": "event_id"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "DESC"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "description": "震度細分区域コードから地震を検索。ソートはevent_idのみ対応。sortByパラメータは無視されます。",
        "responses": {
          "200": {
            "description": "震度細分区域から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityRegionSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/prefecture/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityPrefectureByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityPrefectureCodeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "maxLpgmIntensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaLpgmIntensity"
            }
          },
          {
            "in": "query",
            "name": "maxLpgmIntensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaLpgmIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "日付 (例: 2024-01-01)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "日付 (例: 2024-01-01)"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "epicenterCodes",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "epicenterDetailCode",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "earthquakeType",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeType"
            }
          },
          {
            "in": "query",
            "name": "datasource",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeDatasource"
            }
          },
          {
            "in": "query",
            "name": "telegramTypes",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarthquakeTelegramType"
                  }
                },
                {
                  "$ref": "#/components/schemas/EarthquakeTelegramType"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "latitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "-180~180 の実数(string)"
          },
          {
            "in": "query",
            "name": "latitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "-180~180 の実数(string)"
          },
          {
            "in": "query",
            "name": "longitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "-180~180 の実数(string)"
          },
          {
            "in": "query",
            "name": "longitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "-180~180 の実数(string)"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeSortBy",
              "default": "event_id"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "DESC"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "description": "都道府県コードから地震を検索。ソートはevent_idのみ対応。sortByパラメータは無視されます。",
        "responses": {
          "200": {
            "description": "都道府県から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityPrefectureSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/city/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityCityByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityCityCodeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "maxLpgmIntensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaLpgmIntensity"
            }
          },
          {
            "in": "query",
            "name": "maxLpgmIntensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaLpgmIntensity"
            }
          },
          {
            "in": "query",
            "name": "originTimeGte",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "日付 (例: 2024-01-01)"
          },
          {
            "in": "query",
            "name": "originTimeLte",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "日付 (例: 2024-01-01)"
          },
          {
            "in": "query",
            "name": "statuses",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelegramStatus"
                  }
                },
                {
                  "$ref": "#/components/schemas/TelegramStatus"
                }
              ],
              "default": [
                "NORMAL"
              ]
            }
          },
          {
            "in": "query",
            "name": "epicenterCodes",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "epicenterDetailCode",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "earthquakeType",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeType"
            }
          },
          {
            "in": "query",
            "name": "datasource",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeDatasource"
            }
          },
          {
            "in": "query",
            "name": "telegramTypes",
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarthquakeTelegramType"
                  }
                },
                {
                  "$ref": "#/components/schemas/EarthquakeTelegramType"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "latitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "-180~180 の実数(string)"
          },
          {
            "in": "query",
            "name": "latitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "-180~180 の実数(string)"
          },
          {
            "in": "query",
            "name": "longitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "-180~180 の実数(string)"
          },
          {
            "in": "query",
            "name": "longitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "-180~180 の実数(string)"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/EarthquakeSortBy",
              "default": "event_id"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "DESC"
            }
          }
        ],
        "tags": [
          "Earthquake"
        ],
        "description": "市区町村コードから地震を検索。ソートはevent_idのみ対応。sortByパラメータは無視されます。",
        "responses": {
          "200": {
            "description": "市区町村から地震検索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntensityCitySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "500": {
            "description": "内部サーバエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earthquake/intensity/station/{code}": {
      "get": {
        "operationId": "getV2EarthquakeIntensityStationByCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/IntensityStationCodeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "1~100 の整数(string)"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "contentEncoding": "base64"
            },
            "description": "カーソル情報, {type}:{id} を base64 エンコードしたもの"
          },
          {
            "in": "query",
            "name": "magnitudeLte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "magnitudeGte",
            "schema": {
              "type": "string"
            },
            "description": "0~20 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthLte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "depthGte",
            "schema": {
              "type": "string"
            },
            "description": "0~2000 の実数(string)"
          },
          {
            "in": "query",
            "name": "intensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "intensityGte",
            "schema": {
              "$ref": "#/components/schemas/JmaIntensity"
            }
          },
          {
            "in": "query",
            "name": "maxLpgmIntensityLte",
            "schema": {
              "$ref": "#/components/schemas/JmaLpgmIntensity"
            }
[...]
